{% extends "layouts/main.html" %} {% set pageName="Learn about local plan consultation response email automation" %} {%
block content %}

<script src="/public/javascripts/contents-sticky.js"></script>
<link rel="stylesheet" href="/public/css/contents.css" />

<div class="govuk-grid-row draft">
    <div class="govuk-grid-column-full">
        <div id="body" class="gem-c-layout-for-public govuk-template__body js-enabled">
            <div id="wrapper" class="direction-ltr govuk-width-container">
                <div class="gem-c-contextual-breadcrumbs">
                    <div data-module="gem-track-click ga4-link-tracker"
                        class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile"
                        data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">
                                <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb"
                                    data-track-label="" data-track-options="{}"
                                    data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"1","index_total":"4"}'
                                    class="govuk-breadcrumbs__link" href="#">Home</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                <a data-track-category="breadcrumbClicked" data-track-action="2"
                                    data-track-label="/housing-local-and-community"
                                    data-track-options='{"dimension28":"4","dimension29":"Housing, local and community"}'
                                    data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"2","index_total":"4"}'
                                    class="govuk-breadcrumbs__link" href="#">Housing, local and community</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                <a data-track-category="breadcrumbClicked" data-track-action="3"
                                    data-track-label="/housing-local-and-community/planning-and-building"
                                    data-track-options='{"dimension28":"4","dimension29":"Planning and building"}'
                                    data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"3","index_total":"4"}'
                                    class="govuk-breadcrumbs__link" href="#">Planning and building</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                <a data-track-category="breadcrumbClicked" data-track-action="4"
                                    data-track-label="/housing-local-and-community/local-plans"
                                    data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                                    data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                                    class="govuk-breadcrumbs__link" href="#">Local Plans</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                <a data-track-category="breadcrumbClicked" data-track-action="4"
                                    data-track-label="/housing-local-and-community/local-plans"
                                    data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                                    data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                                    class="govuk-breadcrumbs__link" href="#">Create or update a local plan</a>
                            </li>
                        </ol>
                    </div>
                </div>

                <main role="main" id="content" class="detailed-guide" lang="en">
                    <span id="Top"></span>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
                                <span class="govuk-caption-xl gem-c-title__context">
                                    Case study
                                </span>

                                <h1 class="gem-c-title__text govuk-heading-l">
                                    City of London: saving time on consultation responses using digital automation
                                </h1>
                            </div>
                        </div>

                        <div class="govuk-grid-column-two-thirds">
                            <p class="gem-c-lead-paragraph">
                                How City of London saved hours of manual labour by using a Digital Planning automation.
                            </p>
                        </div>
                    </div>

                    <div class="govuk-grid-row">
                        <div class="metadata-logo-wrapper">
                            <div class="govuk-grid-column-two-thirds metadata-column">
                                <div class="gem-c-metadata" data-module="gem-toggle metadata"
                                    data-gem-toggle-module-started="true" data-metadata-module-started="true">
                                    <dl class="gem-c-metadata__list" data-module="gem-track-click"
                                        data-gem-track-click-module-started="true">
                                        <dt class="gem-c-metadata__term">From:</dt>
                                        <dd class="gem-c-metadata__definition">
                                            <a class="govuk-link" href="#">Ministry of Housing,
                                                Communities &
                                                Local Government
                                            </a>
                                        </dd>
                                        <dt class="gem-c-metadata__term">Published</dt>
                                        <dd class="gem-c-metadata__definition">23 August 2024</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="govuk-grid-column-one-third"></div>
                        </div>
                    </div>

                    <div data-module="gem-track-click ga4-link-tracker"
                        class="govuk-!-display-none-print govuk-!-margin-bottom-6"
                        data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                        <form class="gem-c-single-page-notification-button" action="#" method="POST"
                            data-track-label="/guidance/what-to-consider-when-engaging-on-your-local-plan"
                            data-track-action="Subscribe-button-top"
                            data-track-category="Single-page-notification-button" data-button-location="top"
                            data-button-text-subscribe="Get emails about this page"
                            data-button-text-unsubscribe="Stop getting emails about this page">
                            <input type="hidden" name="base_path"
                                value="/guidance/what-to-consider-when-engaging-on-your-local-plan" />
                            <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit"
                                data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":1,"index_total":2,"section":"Top","url":"#"}'>
                                <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" height="18" width="18"
                                    viewBox="0 0 459.334 459.334">
                                    <path fill="currentColor"
                                        d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z">
                                    </path>
                                </svg><span class="gem-c-single-page-notication-button__text">Get emails about this
                                    page</span>
                            </button>
                        </form>
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <div id="contents" class="app-c-contents-list-with-body"
                                data-module="sticky-element-container"
                                data-sticky-element-container-module-started="true">
                                <div class="responsive-bottom-margin">
                                    <nav data-module="gem-track-click ga4-link-tracker" aria-label="Contents"
                                        class="gem-c-contents-list" role="navigation">
                                        <h2 class="gem-c-contents-list__title">Contents</h2>
                                        <ol class="gem-c-contents-list__list">
                                            <li
                                                class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                                                <span aria-hidden="true"></span>
                                                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                                                    href="#the-approach">The approach</a>
                                            </li>
                                            <li
                                                class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                                                <span aria-hidden="true"></span>
                                                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                                                    href="#understanding-local-opinion">Understanding local opinion</a>
                                            </li>
                                            <li
                                                class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                                                <span aria-hidden="true"></span>
                                                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                                                    href="#reducing-manual-work">Reducing manual work</a>
                                            </li>
                                            <li
                                                class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                                                <span aria-hidden="true"></span>
                                                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                                                    href="#creating-effective-databases">Creating effective
                                                    databases</a>
                                            </li>
                                            <li
                                                class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                                                <span aria-hidden="true"></span>
                                                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                                                    href="#in-summary">In summary</a>
                                            </li>
                                            <li
                                                class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                                                <span aria-hidden="true"></span>
                                                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                                                    href="#next-steps">Next steps</a>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>

                                <div
                                    class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
                                    <button class="govuk-link govuk-body-s gem-c-print-link__button"
                                        data-module="print-link" data-print-link-module-started="true">
                                        Print this page
                                    </button>
                                </div>

                                <div class="gem-c-govspeak govuk-govspeak" data-module="govspeak ga4-link-tracker"
                                    data-ga4-track-links-only=""
                                    data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                                    data-ga4-link='{"event_name":"navigation","type":"callout"}'
                                    data-govspeak-module-started="true" data-ga4-link-tracker-module-started="true">
                                    <div class="govspeak">

                                        <!--<div class="call-to-action">
                      <p>
                        If you're a council IT specialist, learn <a href="IT-specialists">how to install the automation</a>. For planning team members, find out how to <a href="planners">access and export your data</a>. 
                      </p>
                    </div>-->

                                        <p>
                                            During the consultation for their City Plan 2040, the City of London
                                            Corporation received 2,000 comments from almost 300 individuals—87% of which
                                            were sent by email.
                                        </p>

                                        <p>
                                            To organise these responses efficiently, the Corporation partnered with the
                                            MHCLG Digital Planning programme to test an email processing automation
                                            designed to improve the handling of public consultation responses.
                                        </p>

                                        <h2 id="the-approach">
                                            The approach
                                        </h2>

                                        <p>
                                            Following this approach allowed them to:
                                        </p>

                                        <ul>
                                            <li>automate response processing using Microsoft 365</li>
                                            <li>automate response processing using Microsoft 365</li>
                                            <li>make data-driven decisions without manual labour</li>
                                        </ul>

                                        <h2 id="understanding-local-opinion">
                                            Understanding local opinion
                                        </h2>

                                        <p>
                                            Public consultations are a key part of community engagement, particularly in
                                            local plans. They help councils understand local opinions and priorities.
                                            However, processing the thousands of responses often received can be
                                            time-consuming and labour-intensive.
                                        </p>

                                        <p>
                                            Developed as part of the MHCLG Digital Planning programme, the automation
                                            helps this by organising and storing email submissions. It's a Microsoft 365
                                            add-on, which is free for existing licence holders. It automates the
                                            categorisation and storage of email submissions, removing the need for
                                            manual data entry.
                                        </p>

                                        <h2 id="reducing-manual-work">
                                            Reducing manual work
                                        </h2>

                                        <p>
                                            It simplifies the process of collating responses, allowing councils to focus
                                            on analysing feedback and making informed decisions. This significantly
                                            reduces manual work and frees up staff time for other priorities.
                                        </p>

                                        <p>
                                            The automation can potentially save 1-2 months of administration per
                                            consultation and comes at no extra cost to those with Microsoft 365. It is
                                            completely optional and at every LPA’s discretion as to whether they install
                                            and use it.
                                        </p>

                                        <h2 id="creating-effective-databases">
                                            Creating effective databases
                                        </h2>

                                        <p>
                                            The Power Automate add-on connects to the consultation email inbox in
                                            Microsoft 365. It automatically categorises emails that come in during the
                                            consultation period.
                                        </p>

                                        <p>
                                            It then collects:
                                        </p>

                                        <ul>
                                            <li>the person's name</li>
                                            <li>email address</li>
                                            <li>subject line</li>
                                            <li>any attachments</li>
                                            <li>body text of the email</li>
                                        </ul>

                                        <p>
                                            It stores these in a centralised Sharepoint location, removing the need for
                                            manual entry.
                                        </p>

                                        <p>
                                            To review responses, you access the stored data in the designated folder or
                                            database on Microsoft 365. You can then analyse feedback, generate reports,
                                            and make data-driven decisions without manually sorting through individual
                                            emails.
                                        </p>

                                        <p>
                                            The automation is compatible with various IT systems used by Local Planning
                                            Authorities (LPAs), making it available for all. City of London has shown
                                            that it not only reduces administrative burden, but also enhances the
                                            accuracy and organisation of consultation data.
                                        </p>

                                        <h2 id="in-summary">
                                            In summary
                                        </h2>

                                        <p>
                                            Michelle Rowland, City of London Planning Policy Officer, praised the
                                            automation’s impact:
                                        </p>

                                        <blockquote>
                                            <p>
                                                The program worked well for us, saving us hours of manual data entry in
                                                one step of the representation processing. Instead of painstakingly
                                                inputting emails, names, and relevant details by hand, the program
                                                automated the entire process.
                                            </p>

                                            <p>
                                                From the spreadsheet export, we were easily able to add additional
                                                columns for summarising and analysing the comments.
                                            </p>
                                        </blockquote>

                                        <h2 id="next-steps">
                                            Next steps
                                        </h2>

                                        <p>
                                            The automation is being tested further with other councils. Stay updated on
                                            its progress by subscribing to the <a href="#">Digital Planning
                                                newsletter</a>.
                                        </p>

                                        <div class="call-to-action">
                                            <p>
                                                If you want to try it for yourself, learn who can use the automation and <a href="introduction">how to install it</a>. 
                                            </p>
                                        </div>


                                    </div>
                                </div>

                                <div class="app-c-published-dates govuk-!-margin-bottom-5" lang="en">
                                    Published 23 August 2024
                                </div>

                                <div class="published-dates-button-group">
                                    <div data-module="gem-track-click ga4-link-tracker"
                                        class="govuk-!-display-none-print govuk-!-margin-bottom-3"
                                        data-gem-track-click-module-started="true"
                                        data-ga4-link-tracker-module-started="true">
                                        <form class="gem-c-single-page-notification-button" action="#" method="POST"
                                            data-track-label="/guidance/what-to-consider-when-engaging-on-your-local-plan"
                                            data-track-action="Subscribe-button-bottom"
                                            data-track-category="Single-page-notification-button"
                                            data-button-location="bottom"
                                            data-button-text-subscribe="Get emails about this page"
                                            data-button-text-unsubscribe="Stop getting emails about this page">
                                            <input type="hidden" name="base_path"
                                                value="/guidance/what-to-consider-when-engaging-on-your-local-plan" />
                                            <button class="govuk-body-s gem-c-single-page-notification-button__submit"
                                                type="submit"
                                                data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":2,"index_total":2,"section":"Footer","url":"#"}'>
                                                <svg class="gem-c-single-page-notification-button__icon"
                                                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18"
                                                    width="18" viewBox="0 0 459.334 459.334">
                                                    <path fill="currentColor"
                                                        d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z">
                                                    </path>
                                                </svg><span class="gem-c-single-page-notication-button__text">Get emails
                                                    about this page</span>
                                            </button>
                                        </form>
                                    </div>

                                    <div
                                        class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-8">
                                        <button class="govuk-link govuk-body-s gem-c-print-link__button"
                                            data-module="print-link" data-print-link-module-started="true">
                                            Print this page
                                        </button>
                                    </div>
                                </div>

                                <div data-sticky-element=""
                                    class="app-c-contents-list-with-body__link-wrapper sticky-element--hidden sticky-element--stuck-to-window sticky-element--enabled">
                                    <div class="app-c-contents-list-with-body__link-container">
                                        <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
                                            <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg"
                                                width="13" height="17" viewBox="0 0 13 17" aria-hidden="true"
                                                focusable="false">
                                                <path fill="currentColor"
                                                    d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                                            </svg>
                                            Contents
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="govuk-grid-column-one-third">
                            <div class="gem-c-contextual-sidebar"></div>
                        </div>
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <div class="gem-c-contextual-footer"></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

{% endblock %}