{% extends "layouts/main.html" %} {% set pageName="Categorising sites" %} {% block content %}

<script src="/public/javascripts/contents-sticky.js"></script>
<link rel="stylesheet" href="/public/css/contents.css" />

<div class="govuk-grid-row draft">
  <div class="govuk-grid-column-full">
    <div
      id="body"
      class="gem-c-layout-for-public govuk-template__body js-enabled"
    >
      <div id="wrapper" class="direction-ltr govuk-width-container">
        <div class="gem-c-contextual-breadcrumbs">
          <div
            data-module="gem-track-click ga4-link-tracker"
            class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="homeLinkClicked"
                  data-track-action="homeBreadcrumb"
                  data-track-label=""
                  data-track-options="{}"
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"1","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Home</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="2"
                  data-track-label="/housing-local-and-community"
                  data-track-options='{"dimension28":"4","dimension29":"Housing, local and community"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"2","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Housing, local and community</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="3"
                  data-track-label="/housing-local-and-community/planning-and-building"
                  data-track-options='{"dimension28":"4","dimension29":"Planning and building"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"3","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Planning and building</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="4"
                  data-track-label="/housing-local-and-community/local-plans"
                  data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Local Plans</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="4"
                  data-track-label="/housing-local-and-community/local-plans"
                  data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >About Local Plans</a
                >
              </li>
            </ol>
          </div>
        </div>

        <main role="main" id="content" class="detailed-guide" lang="en">
          <span id="Top"></span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8"
              >
                <span class="govuk-caption-xl gem-c-title__context">
                  Guidance
                </span>

                <h1 class="gem-c-title__text govuk-heading-l">
                  Categorising sites
                </h1>
              </div>
            </div>

            <div class="govuk-grid-column-two-thirds">
              <p class="gem-c-lead-paragraph">
                A guide to categorising and assessing sites, including suggested methodologies and information to record for examination.
              </p>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="metadata-logo-wrapper">
              <div class="govuk-grid-column-two-thirds metadata-column">
                <div
                  class="gem-c-metadata"
                  data-module="gem-toggle metadata"
                  data-gem-toggle-module-started="true"
                  data-metadata-module-started="true"
                >
                  <dl
                    class="gem-c-metadata__list"
                    data-module="gem-track-click"
                    data-gem-track-click-module-started="true"
                  >
                    <dt class="gem-c-metadata__term">From:</dt>
                    <dd class="gem-c-metadata__definition">
                      <a
                        class="govuk-link"
                        href="#"
                        >Ministry of Housing,
                        Communities &
                        Local Government
                      </a>
                    </dd>
                    <dt class="gem-c-metadata__term">Published</dt>
                    <dd class="gem-c-metadata__definition">23 August 2013</dd>
                  </dl>
                </div>
              </div>
              <div class="govuk-grid-column-one-third"></div>
            </div>
          </div>

          <div
            class="govuk-!-display-none-print govuk-!-margin-bottom-6"
          >
            <form
              class="gem-c-single-page-notification-button"
              action="#"
              method="POST"
            >
              <input
                type="hidden"
                name="base_path"
                value="/guidance/what-to-consider-when-engaging-on-your-local-plan"
              />
              <button
                class="govuk-body-s gem-c-single-page-notification-button__submit"
                type="submit"
                data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":1,"index_total":2,"section":"Top","url":"#"}'
              >
                <svg
                  class="gem-c-single-page-notification-button__icon"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  height="18"
                  width="18"
                  viewBox="0 0 459.334 459.334"
                >
                  <path
                    fill="currentColor"
                    d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
                  ></path></svg
                ><span class="gem-c-single-page-notication-button__text"
                  >Get emails about this page</span
                >
              </button>
            </form>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                id="contents"
                class="app-c-contents-list-with-body"
                data-module="sticky-element-container"
                data-sticky-element-container-module-started="true"
              >
                <div class="responsive-bottom-margin">
                  <nav
                    data-module="gem-track-click ga4-link-tracker"
                    aria-label="Contents"
                    class="gem-c-contents-list"
                    role="navigation"
                  >
                    <h2 class="gem-c-contents-list__title">Contents</h2>
                    <ol class="gem-c-contents-list__list">
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#how-to-categorise-sites"
                          >How to categorise sites</a>
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#example-categories-and-development-types"
                          >Example categories and development types</a>
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#estimating-development-potential"
                          >Estimating development potential</a>
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#re-categorising-your-sites"
                          >Re-categorising your sites</a>
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#next-steps"
                          >Next steps</a>
                      </li>
                    </ol>
                  </nav>
                </div>

                <div
                  class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6"
                >
                  <button
                    class="govuk-link govuk-body-s gem-c-print-link__button"
                  >
                    Print this page
                  </button>
                </div>

                <div
                  class="gem-c-govspeak govuk-govspeak"

                >
                  <div class="govspeak">

                    <p>
                      Once you’ve identified all viable sites, you need to categorise them before you can start assessment. 
                    </p>
                    <p>
                      If respondents have followed the steps outlined in stage 1, they will have categorised their sites already. It’s important you review the categories, however. You’ll also need to categorise any sites you identified from existing allocations or planning applications.
                    </p>
                    <p>
                      Categorising helps you understand if you need to ask for more information. This could be anything that helps you assess and allocate your sites. This will depend on what you can realistically build on each site, and your spatial strategy.
                    </p>

                    <div class="call-to-action">
                      <p>
                          Learn more about <a href="stage-1-identifying-sites">Stage 1: Identifying Sites</a>, or <a href="stage-3-arriving-at-draft-allocations">Stage 3: Arriving at draft site allocations</a>
                      </p>
                    </div>

                    <h2 id="how-to-categorise-sites">
                      How to categorise sites
                    </h2>

                    <p>
                      You should categorise sites by the proposed type and scale of development.
                    </p>

                    <p>
                      The three main categories you should categorise into are: 
                    </p>

                    <ul>
                      <li>Greenfield-led housing sites</li>
                      <li>Brownfield-led housing sites</li>
                      <li>Employment-led sites</li>
                    </ul>

                    <p>
                      You should also consider traveller sites as part of your duty to all groups with protected characteristics.
                    </p>

                    <p>
                      As will all other stages, you’re encouraged to use your own judgement on categorisation when making decisions. You will have to explain your rationale during the examination process. 
                    </p>

                    <p>
                      Ask these questions to help you categorise:
                    </p>

                    <h3>
                      Aim of this section
                    </h3>

                    <ul>
                      <li>
                        sort potential sites into categories
                      </li>
                      <li>
                        understand how best to categorise sites
                      </li>
                      <li>
                        to estimate development potential for all categorised sites 
                      </li>
                    </ul>

                    <h3>
                      Outputs of this section
                    </h3>

                    <ul>
                      <li>
                        a list of potential sites categorised and ready to assess
                      </li>
                    </ul>

                    <h3>
                      What is the main purpose for the development?
                    </h3>

                    <p>
                      This is to decide whether a site is employment or housing-led.
                    </p>

                    <p>
                      Where a site is mixed-use, you should categorise based on its main use. So, if a site is predominantly for housing but will have some employment uses, it should be categorised as housing-led. You can be flexible on mixed use depending on the local context and your site needs.
                    </p>

                    <p>
                      If a site is employment-led, you do not need to categorise by greenfield or brownfield. Development options for these sites focus on the type of proposed employment rather than location.
                    </p>

                    <h3 id="where-is-the-site-mostly-going-to-be">
                      Is it a greenfield or brownfield site?
                    </h3>

                    <p>
                      If more than half of development is going to happen on previously undeveloped land, this means it is greenfield-led. Brownfield-led developments occur predominantly on land that has been developed before.
                    </p>

                    <p>
                      Remember, you do not need to categorise at this level for employment-led sites.
                    </p>

                    <h2 id="example-categories-and-development-types">
                      Example categories and development types
                    </h2>

                    <p>
                      Once you’ve categorised your sites, it’s useful to break them down further into development types. This gives you a better view of what each potential site offers, and helps make sure you’re meeting all needs.
                    </p>

                    <p>
                      You should define these categories yourself based on your judgement and local circumstances. There should be a strong rationale behind your categories, which you can explain at evaluation.
                    </p>

                    <p>
                      Below is an example of some development categories. Most are flexible, and can be adapted to your needs. Where categories are fixed, this is to give balance and ensure a strong evidence base. 
                    </p>

                    <p>
                      Categories have been suggested based on:
                    </p>

                    <ul>
                      <li>likely lead-in times for different-sized sites</li>
                      <li>different evidence requirements to support each site</li>
                      <li>development scale vs. likely impact </li>
                    </ul>

                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <caption class="govuk-table__caption govuk-table__caption--m">Greenfield-led-housing sites</caption>
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Ref</th>
                          <th scope="col" class="govuk-table__header">Category</th>
                          <th scope="col" class="govuk-table__header">Definition and reasoning</th>
                          <th scope="col" class="govuk-table__header">Fixed or flexible</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">G1</th>
                          <td class="govuk-table__cell">10-49-homes</td>
                          <td class="govuk-table__cell">Smaller developments more likely to be built out by SMEs with lower evidential threshold (subject to any applicable environmental / ecology assessment).
                            </td>
                          <td class="govuk-table__cell">Flexible</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">G2</th>
                          <td class="govuk-table__cell">50-499 homes</td>
                          <td class="govuk-table__cell">
                            Medium sized developments that at the top end may have site specific infrastructure.
                            </td>
                          <td class="govuk-table__cell">Flexible</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">G3</th>
                          <td class="govuk-table__cell">500+ homes</td>
                          <td class="govuk-table__cell">
                            Development of a strategic scale that has a lead-in time of at least circa 5-years.
                            More likely to contain site specific infrastructure with greater evidential requirement
                            to allocate
                            </td>
                          <td class="govuk-table__cell">Flexible</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">G4</th>
                          <td class="govuk-table__cell">New Settlement or Garden
                            Village/Towns
                            </td>
                          <td class="govuk-table__cell">
                            Form of development that needs more significant levels of evidence to allocate and a much longer delivery timeframe; potentially with cross border collaboration.
                            </td>
                          <td class="govuk-table__cell">Fixed</td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <caption class="govuk-table__caption govuk-table__caption--m">Brownfield-led-housing sites</caption>
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Ref</th>
                          <th scope="col" class="govuk-table__header">Category</th>
                          <th scope="col" class="govuk-table__header">Definition and reasoning</th>
                          <th scope="col" class="govuk-table__header">Fixed or flexible</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">B1</th>
                          <td class="govuk-table__cell">Up to 100 homes</td>
                          <td class="govuk-table__cell">Smaller developments more likely to be built out by SMEs with lower eventual
                            threshold.                            
                            </td>
                          <td class="govuk-table__cell">Flexible</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">B2</th>
                          <td class="govuk-table__cell">100-999 homes</td>
                          <td class="govuk-table__cell">
                            Primarily housing led schemes that may include mix of uses. At the top end, may be
                            a new district or quarter of a larger urban area.
                            </td>
                          <td class="govuk-table__cell">Flexible</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">B3</th>
                          <td class="govuk-table__cell">1,000+ homes</td>
                          <td class="govuk-table__cell">
                            Larger housing schemes that will likely include significant on-site community infrastructure, open space, and form their own new settlements or significant extensions to existing villages or towns.
                            </td>
                          <td class="govuk-table__cell">Flexible</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">B4</th>
                          <td class="govuk-table__cell">Estate regeneration
                            </td>
                          <td class="govuk-table__cell">
                            Type of development to be allocated as a deliverable/developable site needs to be further progressed than other forms of development.
                            </td>
                          <td class="govuk-table__cell">Fixed</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">B5</th>
                          <td class="govuk-table__cell">Mixed-use Urban centre
                            </td>
                          <td class="govuk-table__cell">
                            Town or city centre schemes (or district centres). Largely equal combination of residential, commercial, and potential transport uses.
                            </td>
                          <td class="govuk-table__cell">Fixed</td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <caption class="govuk-table__caption govuk-table__caption--m">Employment-led-housing sites</caption>
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Ref</th>
                          <th scope="col" class="govuk-table__header">Category</th>
                          <th scope="col" class="govuk-table__header">Definition and reasoning</th>
                          <th scope="col" class="govuk-table__header">Fixed or flexible</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">E1</th>
                          <td class="govuk-table__cell">Offices, leisure and retail</td>
                          <td class="govuk-table__cell">Broad categories of different types of employment development with differing
                          requirements in terms of location but generally assessed with the same information.                            
                            </td>
                          <td class="govuk-table__cell">Fixed</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">E2</th>
                          <td class="govuk-table__cell">Research, Development and Knowledge (including Studios and University buildings)
                            </td>
                          <td class="govuk-table__cell">
                            Broad categories of different types of employment development with differing
                            requirements in terms of location but generally assessed with the same information.
                            </td>
                          <td class="govuk-table__cell">Fixed</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">E3</th>
                          <td class="govuk-table__cell">Industrial</td>
                          <td class="govuk-table__cell">
                            Broad categories of different types of employment development with differing
                            requirements in terms of location but generally assessed with the same information.
                            </td>
                          <td class="govuk-table__cell">Fixed</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">G4</th>
                          <td class="govuk-table__cell">Logistics
                            </td>
                            <td class="govuk-table__cell">
                              Broad categories of different types of employment development with differing
                              requirements in terms of location but generally assessed with the same information.
                              </td>
                            <td class="govuk-table__cell">Fixed</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">G4</th>
                          <td class="govuk-table__cell">Employment-led Mixed
                            Use                            
                            </td>
                            <td class="govuk-table__cell">
                              Intensification of existing employment areas with housing uses.
                              </td>
                            <td class="govuk-table__cell">Fixed</td>
                        </tr>
                      </tbody>
                    </table>

                    <h2 id="estimating-development-potential">
                      Estimating development potential
                    </h2>

                    <p>
                      Development potential essentially means how many developments a site can hold.
                    </p>

                    <p>
                      Potential varies between different site categories, and will depend on things like site density and any constraints on the site. 
                    </p>

                    <h3>
                      Housing
                    </h3>
                    <p>
                      This potential depends on how densely developments will be built - density assumptions - and other factors like call for sites data, size constraints and other constraints.
                    </p>
                    <p>
                      For all sites, you should make sure it makes the most efficient use of the land in line with national policy.
                    </p>
                    <p>
                      When considering this for newer , you should think about:
                    </p>

                    <ul>
                      <li>
                        net developable area, depending on site type and constraints. You could apply gross-to-net ratios, reflecting that a greater proportion of land is likely to be needed for on-site infrastructure for larger sites
                      </li>
                      <li>
                        indicative density multipliers - for example, size and location - based on existing densities, or consideration of what an appropriate density could be in the future
                      </li>
                      <li>
                        any relevant adopted or emerging policies - for example, national space / car parking standards, design policies, green infrastructure and biodiversity net gain requirements
                      </li>
                      <li>
                        commercial viability - the types of development that are likely to be viable in the location
                      </li>
                      <li>
                        site-specific opportunity - for example, very accessible, urban locations suitable for higher density proposals that meet your local needs
                      </li>
                    </ul>
                    
                    <h3>
                      Employment
                    </h3>
                    
                    <p>
                      It’s likely that most employment sites will be able to support multiple categories of development. Therefore, the aim is to identify all potential employment development categories.
                    </p>

                    <p>
                      This will inform future economic studies around the scale and employment type needed. These can then be more easily compared to existing supply.
                    </p>

                    <p>
                      You can use indicative plot ratios to estimate potential based on the type of expected employment floorspace. You can also find employment development market intelligence to inform the ratio of buildings to land. 
                    </p>

                    <p>
                      This is useful if you do not have site-specific evidence from site promoters.
                    </p>

                    <h3 id="sites-in-multiple-categories">
                      Sites in multiple categories
                    </h3>

                    <p>
                      For both housing and employment, having sites in more than one development category is acceptable. But you should be careful not to double count a site and its development potential during this stage.
                    </p>

                    <p>
                      You should decide on the most appropriate category for these sites by the end of stage 3.
                    </p>

                    <h2 id="re-categorising-your-sites">
                      Re-categorising your sites
                    </h2>
                  
                    <p>
                      Changing your site categories based on new information is normal and acceptable. This should be done before stage 3 of the process.
                    </p>

                    <p>
                      For example, a developer’s proposal during a call for sites might not represent the most efficient use of land, or include all constraints. If they evolve their understanding, you should be comfortable re-categorising based on this.
                    </p>

                    <h2 id="next-steps">
                      Next steps
                    </h2>

                    <p>
                      Once you have finished categorising, you’re ready to <a href="stage-2-starting-site-assessment">start site assessment</a>.
                    </p>
                  
                  </div>
                </div>

                <div
                  class="app-c-published-dates govuk-!-margin-bottom-5"
                  lang="en"
                >
                  Published 23 August 2013
                </div>

                <div class="published-dates-button-group">
                  <div
                    data-module="gem-track-click ga4-link-tracker"
                    class="govuk-!-display-none-print govuk-!-margin-bottom-3"
                    data-gem-track-click-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <form
                      class="gem-c-single-page-notification-button"
                      action="#"
                      method="POST"
                      data-track-label="/guidance/what-to-consider-when-engaging-on-your-local-plan"
                      data-track-action="Subscribe-button-bottom"
                      data-track-category="Single-page-notification-button"
                      data-button-location="bottom"
                      data-button-text-subscribe="Get emails about this page"
                      data-button-text-unsubscribe="Stop getting emails about this page"
                    >
                      <input
                        type="hidden"
                        name="base_path"
                      />
                      <button
                        class="govuk-body-s gem-c-single-page-notification-button__submit"
                        type="submit"
                        data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":2,"index_total":2,"section":"Footer","url":"#"}'
                      >
                        <svg
                          class="gem-c-single-page-notification-button__icon"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          height="18"
                          width="18"
                          viewBox="0 0 459.334 459.334"
                        >
                          <path
                            fill="currentColor"
                            d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
                          ></path></svg
                        ><span class="gem-c-single-page-notication-button__text"
                          >Get emails about this page</span
                        >
                      </button>
                    </form>
                  </div>

                  <div
                    class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-8"
                  >
                    <button
                      class="govuk-link govuk-body-s gem-c-print-link__button"
                      data-module="print-link"
                      data-print-link-module-started="true"
                    >
                      Print this page
                    </button>
                  </div>
                </div>

                <div
                  data-sticky-element=""
                  class="app-c-contents-list-with-body__link-wrapper sticky-element--hidden sticky-element--stuck-to-window sticky-element--enabled"
                >
                  <div class="app-c-contents-list-with-body__link-container">
                    <a
                      class="govuk-link app-c-back-to-top dont-print"
                      href="#contents"
                    >
                      <svg
                        class="app-c-back-to-top__icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="17"
                        viewBox="0 0 13 17"
                        aria-hidden="true"
                        focusable="false"
                      >
                        <path
                          fill="currentColor"
                          d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"
                        ></path>
                      </svg>
                      Contents
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="gem-c-contextual-sidebar"></div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="gem-c-contextual-footer"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

{% endblock %}
