{% extends "layouts/main.html" %} {% set pageName="30-month process explained -
Guidance" %} {% block content %}

<script src="/public/javascripts/contents-sticky.js"></script>
<link rel="stylesheet" href="/public/css/contents.css" />

<div class="govuk-grid-row draft">
  <div class="govuk-grid-column-full">
    <div
      id="body"
      class="gem-c-layout-for-public govuk-template__body js-enabled"
    >
      <div id="wrapper" class="direction-ltr govuk-width-container">
        <div class="gem-c-contextual-breadcrumbs">
          <div
            data-module="gem-track-click ga4-link-tracker"
            class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="homeLinkClicked"
                  data-track-action="homeBreadcrumb"
                  data-track-label=""
                  data-track-options="{}"
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"1","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="/"
                  >Home</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="2"
                  data-track-label="/housing-local-and-community"
                  data-track-options='{"dimension28":"4","dimension29":"Housing, local and community"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"2","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="/housing-local-and-community"
                  >Housing, local and community</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="3"
                  data-track-label="/housing-local-and-community/planning-and-building"
                  data-track-options='{"dimension28":"4","dimension29":"Planning and building"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"3","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="/housing-local-and-community/planning-and-building"
                  >Planning and building</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="4"
                  data-track-label="/housing-local-and-community/local-plans"
                  data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="/housing-local-and-community/local-plans"
                  >Local Plans</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="4"
                  data-track-label="/housing-local-and-community/local-plans"
                  data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="/housing-local-and-community/local-plans/about-local-plans"
                  >About Local Plans</a
                >
              </li>
            </ol>
          </div>
        </div>

        <main role="main" id="content" class="detailed-guide" lang="en">
          <span id="Top"></span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8"
              >
                <span class="govuk-caption-xl gem-c-title__context">
                  Guidance
                </span>

                <h1 class="gem-c-title__text govuk-heading-l">
                  30-month process explained
                </h1>
              </div>
            </div>

            <div class="govuk-grid-column-two-thirds">
              <p class="gem-c-lead-paragraph">
                Understand the timeframes, stages and deliverables involved to
                prepare, create, and adopt a local plan.&nbsp;
              </p>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="metadata-logo-wrapper">
              <div class="govuk-grid-column-two-thirds metadata-column">
                <div
                  class="gem-c-metadata"
                  data-module="gem-toggle metadata"
                  data-gem-toggle-module-started="true"
                  data-metadata-module-started="true"
                >
                  <dl
                    class="gem-c-metadata__list"
                    data-module="gem-track-click"
                    data-gem-track-click-module-started="true"
                  >
                    <dt class="gem-c-metadata__term">From:</dt>
                    <dd class="gem-c-metadata__definition">
                      <a
                        class="govuk-link"
                        href="/government/organisations/department-for-levelling-up-housing-and-communities"
                        >Ministry of Housing,
Communities &
Local Government
                      </a>
                    </dd>
                    <dt class="gem-c-metadata__term">Published</dt>
                    <dd class="gem-c-metadata__definition">18 December 2023</dd>
                  </dl>
                </div>
              </div>
              <div class="govuk-grid-column-one-third"></div>
            </div>
          </div>

          <div
            data-module="gem-track-click ga4-link-tracker"
            class="govuk-!-display-none-print govuk-!-margin-bottom-6"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
            <form
              class="gem-c-single-page-notification-button"
              action="/email/subscriptions/single-page/new"
              method="POST"
              data-track-label="/guidance/30-month-process-explained"
              data-track-action="Subscribe-button-top"
              data-track-category="Single-page-notification-button"
              data-button-location="top"
              data-button-text-subscribe="Get emails about this page"
              data-button-text-unsubscribe="Stop getting emails about this page"
            >
              <input
                type="hidden"
                name="base_path"
                value="/guidance/30-month-process-explained"
              />
              <button
                class="govuk-body-s gem-c-single-page-notification-button__submit"
                type="submit"
                data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":1,"index_total":2,"section":"Top","url":"/email/subscriptions/single-page/new"}'
              >
                <svg
                  class="gem-c-single-page-notification-button__icon"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  height="18"
                  width="18"
                  viewBox="0 0 459.334 459.334"
                >
                  <path
                    fill="currentColor"
                    d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
                  ></path>
                </svg>
                <span class="gem-c-single-page-notication-button__text"
                  >Get emails about this page</span
                >
              </button>
            </form>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                id="contents"
                class="app-c-contents-list-with-body"
                data-module="sticky-element-container"
                data-sticky-element-container-module-started="true"
              >
                <div class="responsive-bottom-margin">
                  <nav
                    data-module="gem-track-click ga4-link-tracker"
                    aria-label="Contents"
                    class="gem-c-contents-list"
                    role="navigation"
                    data-gem-track-click-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <h2 class="gem-c-contents-list__title">Contents</h2>
                    <ol class="gem-c-contents-list__list">
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          data-track-category="contentsClicked"
                          data-track-action="content_item 1"
                          data-track-label="#process-overview"
                          data-track-options='{"dimension29":"Process overview"}'
                          data-ga4-link='{"event_name":"select_content","section":"Contents","type":"contents list","index_total":5,"index_link":1}'
                          href="#process-overview"
                          >Process overview</a
                        >
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          data-track-category="contentsClicked"
                          data-track-action="content_item 2"
                          data-track-label="#months-notice-give-notice-of-start-of-plan-making"
                          data-track-options='{"dimension29":"4 months’ notice: Give notice of start of plan-making"}'
                          data-ga4-link='{"event_name":"select_content","section":"Contents","type":"contents list","index_total":5,"index_link":2}'
                          href="#months-notice-give-notice-of-start-of-plan-making"
                          >4 months’ notice: Give notice of start of
                          plan-making</a
                        >
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          data-track-category="contentsClicked"
                          data-track-action="content_item 3"
                          data-track-label="#months-plan-making"
                          data-track-options='{"dimension29":"23 months: Plan-making"}'
                          data-ga4-link='{"event_name":"select_content","section":"Contents","type":"contents list","index_total":5,"index_link":3}'
                          href="#months-plan-making"
                          >23 months: Plan-making</a
                        >
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          data-track-category="contentsClicked"
                          data-track-action="content_item 4"
                          data-track-label="#months-examination"
                          data-track-options='{"dimension29":"6 months: Examination"}'
                          data-ga4-link='{"event_name":"select_content","section":"Contents","type":"contents list","index_total":5,"index_link":4}'
                          href="#months-examination"
                          >6 months: Examination</a
                        >
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          data-track-category="contentsClicked"
                          data-track-action="content_item 5"
                          data-track-label="#month-finalisation-and-adoption-of-digital-plan"
                          data-track-options='{"dimension29":"1 month: Finalisation and adoption of digital plan"}'
                          data-ga4-link='{"event_name":"select_content","section":"Contents","type":"contents list","index_total":5,"index_link":5}'
                          href="#month-finalisation-and-adoption-of-digital-plan"
                          >1 month: Finalisation and adoption of digital plan</a
                        >
                      </li>
                    </ol>
                  </nav>
                </div>

                <div
                  class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6"
                >
                  <button
                    class="govuk-link govuk-body-s gem-c-print-link__button"
                    data-module="print-link"
                    data-print-link-module-started="true"
                  >
                    Print this page
                  </button>
                </div>

                <div
                  class="gem-c-govspeak govuk-govspeak"
                  data-module="govspeak ga4-link-tracker"
                  data-ga4-track-links-only=""
                  data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                  data-ga4-link='{"event_name":"navigation","type":"callout"}'
                  data-govspeak-module-started="true"
                  data-ga4-link-tracker-module-started="true"
                >
                  <div class="govspeak">
                    <p>
                      New policy outlines how to create and adopt a local plan
                      in 30 months. It is designed to reduce the amount of time
                      spent by everyone involved in the local plan process.
                    </p>

                    <p>
                      It also aims to deliver adopted local plans that better
                      meet the needs of those creating them, and those affected
                      by plans in the local community.
                    </p>

                    <p>You can use this guide to understand:</p>

                    <ul>
                      <li>What’s included in each stage of the process</li>
                      <li>What you need to prepare during each stage</li>
                      <li>
                        Where you can learn more about what’s involved in each
                        stage
                      </li>
                    </ul>

                    <h2 id="process-overview">Process overview</h2>

                    <table>
                      <thead>
                        <tr>
                          <th scope="col">Timescale</th>
                          <th scope="col">Stages</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">4 months’ notice</th>
                          <td>Give notice of start of plan-making</td>
                        </tr>
                        <tr>
                          <th scope="row">23 months</th>
                          <td>Plan-making</td>
                        </tr>
                        <tr>
                          <th scope="row">6 months</th>
                          <td>Examination</td>
                        </tr>
                        <tr>
                          <th scope="row">1 month</th>
                          <td>Finalisation and adoption of digital plan</td>
                        </tr>
                      </tbody>
                    </table>

                    <h2 id="months-notice-give-notice-of-start-of-plan-making">
                      4 months’ notice: Give notice of start of plan-making
                    </h2>

                    <p>
                      Planning authorities are expected to give notice that they
                      have started plan-making.
                    </p>

                    <h3 id="scoping-and-early-participation">
                      Scoping and early participation
                    </h3>

                    <p>
                      Scoping is a crucial early step in plan-making. It happens
                      before the official 30-month process begins. It allows
                      planning authorities to define the plan’s scope, agree the
                      draft vision, and spatial options that will be discussed
                      at the first gateway.&nbsp;
                    </p>

                    <p>
                      Unlike the 30-month process, there’s no proposed time
                      limit for this stage.
                    </p>

                    <h3 id="what-you-need-to-deliver">
                      What you need to deliver:
                    </h3>

                    <ul>
                      <li>
                        A Project Initiation Document for submission before you
                        move into plan visioning and strategy development
                        (Gateway 1)
                      </li>
                      <li>
                        Include the scope of evidence, match resources, project
                        management, and approach to engagement with members and
                        other stakeholders
                      </li>
                      <li>Prepare and publish a plan timetable</li>
                      <li>Identify your monitoring requirements</li>
                    </ul>

                    <p>
                      Learn more about
                      <a href="" class="govuk-link"
                        >what you need to start a local plan</a
                      >.
                    </p>

                    <h2 id="months-plan-making">23 months: Plan-making</h2>

                    <p>
                      Planning gets underway. Planners will go back and forth
                      between different stages until they are happy with the
                      evidence they have created.
                    </p>

                    <h3 id="plan-visioning-and-strategy-development">
                      Plan visioning and strategy development
                    </h3>

                    <div class="call-to-action">
                      <p>
                        Plan visioning and strategy development will overlap
                        with evidence gathering and drafting of the plan. To
                        avoid delays, we recommend undertaking tasks in parallel
                        during the first 6 months.&nbsp;
                      </p>

                      <p>
                        If your evidence is not subject to public debate or
                        dependent on key decisions, it should be done as quickly
                        as possible.
                      </p>
                    </div>

                    <p>
                      This stage of the process involves looking ahead of time,
                      and thinking about the long-term goals and aspirations for
                      your community.&nbsp;
                    </p>

                    <p>
                      You’ll need to start with a readiness assessment. This
                      will make sure you’ve completed all pre-planning tasks,
                      and you’re set to start the next stage.
                    </p>

                    <p>
                      Local authorities will need to consider and agree on
                      different spatial options. Once the consultation period
                      ends and feedback is analysed, the council will make a
                      final decision on the preferred spatial option.
                    </p>

                    <p>
                      You will finish this stage by completing the first gateway
                      assessment.&nbsp;
                    </p>

                    <h3 id="what-you-need-to-do">What you need to do:</h3>

                    <ul>
                      <li>Prepare and hold the first public consultation</li>
                      <li>Prepare a vision about the future of the area</li>
                      <li>Confirm evidence requirements</li>
                      <li>
                        Identity and test spatial options and local priorities
                        from the public consultation
                      </li>
                      <li>Complete Gateway 1&nbsp;</li>
                    </ul>

                    <h3 id="what-you-need-to-deliver-1">
                      What you need to deliver:
                    </h3>

                    <ul>
                      <li>Plan vision, mission aims and objectives</li>
                      <li>Submission form for gateway</li>
                    </ul>

                    <h3 id="gateway-1">Gateway 1</h3>

                    <p>
                      Gateways help to validate your plan at important stages of
                      its development. Each has a different focus, designed to
                      give you different feedback when you need it.
                    </p>

                    <p>Focus:</p>

                    <ul>
                      <li>Ensuring the plan sets off in the right direction</li>
                      <li>
                        Supporting early diagnosis of potential issues – legal
                        and procedural requirements and soundness
                      </li>
                      <li>Duration of 4 weeks (up to 6 by exception)</li>
                    </ul>

                    <p>
                      Learn more about
                      <a href="" class="govuk-link"
                        >what you need to create a vision and strategy</a
                      >
                      for your local plan.
                    </p>

                    <h3 id="evidence-gathering-and-drafting-the-plan">
                      Evidence gathering and drafting the plan
                    </h3>
                    <p>
                      This is a resource heavy period. To help manage the
                      workload, local authorities should start this task in
                      parallel with plan visioning, or during the scoping stage.
                    </p>

                    <p>Evidence can be split by type:</p>

                    <ul>
                      <li>Whether it’s a national or local requirement</li>
                      <li>
                        Whether it affects the project schedule — generic
                        evidence can be prepared at any stage, from scoping to
                        final drafting of the plan. Other evidence can only be
                        prepared once the spatial strategy has been agreed.
                      </li>
                    </ul>

                    <h3 id="what-you-need-to-do-1">What you need to do:</h3>

                    <ul>
                      <li>
                        Produce evidence to inform, explain, and demonstrate
                        soundness of the plan
                      </li>
                      <li>
                        Engage continuously with members to ensure sign off
                      </li>
                    </ul>

                    <h3 id="what-you-need-to-deliver-2">
                      What you need to deliver:
                    </h3>

                    <ul>
                      <li>List of evidence documents</li>
                      <li>Full set of evidence&nbsp;</li>
                      <li>A draft local plan</li>
                    </ul>

                    <h3 id="gateway-2">Gateway 2</h3>

                    <p>Focus:</p>

                    <ul>
                      <li>
                        Supporting early resolution of potential soundness
                        issues, where possible
                      </li>
                      <li>Ensuring legal and procedural compliance</li>
                      <li>Monitoring and tracking progress</li>
                      <li>Duration of 4 weeks (up to 6 by exception)</li>
                    </ul>

                    <p>
                      Learn more about
                      <a href="" class="govuk-link">selecting sites</a>.
                    </p>

                    <h3 id="engagement-proposition-changes-submission">
                      Engagement, proposition changes, submission
                    </h3>

                    <p>
                      This intensive period, lasting 4 months, is crucial for
                      securing council approval for your local plan before
                      submission for examination.&nbsp;&nbsp;
                    </p>

                    <h3 id="what-you-need-to-do-2">What you need to do:</h3>

                    <ul>
                      <li>
                        Hold a second public consultation with the community,
                        statutory bodies and other relevant stakeholders
                      </li>
                      <li>
                        Analyse the feedback and make changes prior to
                        submission
                      </li>
                      <li>Finalise all requirements for Gateway 3</li>
                    </ul>

                    <h3 id="gateway-3">Gateway 3</h3>

                    <p>Focus:</p>

                    <ul>
                      <li>
                        Checking the plan is ready to proceed to examination
                      </li>
                      <li>Ensuring legal and procedural compliance</li>
                      <li>Monitoring and tracking progress</li>
                      <li>Duration of 4 weeks (up to 6 by exception)</li>
                    </ul>

                    <h2 id="months-examination">6 months: Examination</h2>

                    <p>Plan-making enters the examination stage.&nbsp;</p>

                    <h3 id="examination">Examination</h3>

                    <p>
                      Once the Local Planning Authority has finished preparing
                      and consulting on a local plan it must be submitted to the
                      Secretary of State who will appoint an Inspector to carry
                      out an independent examination. This process is dealt with
                      by the Planning Inspectorate.
                    </p>

                    <p>
                      The examination will assess whether the plan has been
                      prepared in accordance with legal and procedural
                      requirements and if it is sound.
                    </p>

                    <p>
                      Those who submitted representations will have the right to
                      present their views to the inspector.
                    </p>

                    <h2 id="month-finalisation-and-adoption-of-digital-plan">
                      1 month: Finalisation and adoption of digital plan
                    </h2>

                    <p>
                      You are expected to finish, adopt, and start monitoring
                      your local plan.
                    </p>

                    <h3 id="finalisation-and-adoption-of-digital-plan">
                      Finalisation and adoption of digital plan
                    </h3>

                    <p>
                      The purpose of authority monitoring is to review progress
                      against local plan policy objectives and targets, as well
                      as other key planning matters.
                    </p>

                    <p>There are two types of monitoring.</p>

                    <p>Annual Monitoring:&nbsp;</p>

                    <ul>
                      <li>Fixed, consistent date monitoring.</li>
                      <li>
                        Monitored against a short list of nationally prescribed
                        metrics to assess implementation of key policies.
                      </li>
                    </ul>

                    <p>Detailed Monitoring Return (start in year 4):</p>

                    <ul>
                      <li>
                        Consists of a detailed return to inform updates to the
                        plan which will begin at year 5 after adoption.
                      </li>
                      <li>
                        Considers where policies are no longer relevant and
                        informs the upcoming update.​
                      </li>
                    </ul>
                  </div>
                </div>

                <div
                  class="app-c-published-dates govuk-!-margin-bottom-5"
                  lang="en"
                >
                  Published 18 December 2023
                </div>

                <div class="published-dates-button-group">
                  <div
                    data-module="gem-track-click ga4-link-tracker"
                    class="govuk-!-display-none-print govuk-!-margin-bottom-3"
                    data-gem-track-click-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <form
                      class="gem-c-single-page-notification-button"
                      action="/email/subscriptions/single-page/new"
                      method="POST"
                      data-track-label="/guidance/30-month-process-explained"
                      data-track-action="Subscribe-button-bottom"
                      data-track-category="Single-page-notification-button"
                      data-button-location="bottom"
                      data-button-text-subscribe="Get emails about this page"
                      data-button-text-unsubscribe="Stop getting emails about this page"
                    >
                      <input
                        type="hidden"
                        name="base_path"
                        value="/guidance/30-month-process-explained"
                      />
                      <button
                        class="govuk-body-s gem-c-single-page-notification-button__submit"
                        type="submit"
                        data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":2,"index_total":2,"section":"Footer","url":"/email/subscriptions/single-page/new"}'
                      >
                        <svg
                          class="gem-c-single-page-notification-button__icon"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          height="18"
                          width="18"
                          viewBox="0 0 459.334 459.334"
                        >
                          <path
                            fill="currentColor"
                            d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
                          ></path>
                        </svg>
                        <span class="gem-c-single-page-notication-button__text"
                          >Get emails about this page</span
                        >
                      </button>
                    </form>
                  </div>

                  <div
                    class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-8"
                  >
                    <button
                      class="govuk-link govuk-body-s gem-c-print-link__button"
                      data-module="print-link"
                      data-print-link-module-started="true"
                    >
                      Print this page
                    </button>
                  </div>
                </div>

                <div
                  data-sticky-element=""
                  class="app-c-contents-list-with-body__link-wrapper sticky-element--enabled sticky-element--stuck-to-window sticky-element--hidden"
                >
                  <div class="app-c-contents-list-with-body__link-container">
                    <a
                      class="govuk-link app-c-back-to-top dont-print"
                      href="#contents"
                    >
                      <svg
                        class="app-c-back-to-top__icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="17"
                        viewBox="0 0 13 17"
                        aria-hidden="true"
                        focusable="false"
                      >
                        <path
                          fill="currentColor"
                          d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"
                        ></path>
                      </svg>
                      Contents
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="gem-c-contextual-sidebar"></div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="gem-c-contextual-footer"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

{% endblock %}
