{% extends "layouts/main.html" %} {% set pageName="Starting site assessment" %} {% block content %}

<script src="/public/javascripts/contents-sticky.js"></script>
<link rel="stylesheet" href="/public/css/contents.css" />

<div class="govuk-grid-row draft">
  <div class="govuk-grid-column-full">
    <div
      id="body"
      class="gem-c-layout-for-public govuk-template__body js-enabled"
    >
      <div id="wrapper" class="direction-ltr govuk-width-container">
        <div class="gem-c-contextual-breadcrumbs">
          <div
            data-module="gem-track-click ga4-link-tracker"
            class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="homeLinkClicked"
                  data-track-action="homeBreadcrumb"
                  data-track-label=""
                  data-track-options="{}"
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"1","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Home</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="2"
                  data-track-label="/housing-local-and-community"
                  data-track-options='{"dimension28":"4","dimension29":"Housing, local and community"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"2","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Housing, local and community</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="3"
                  data-track-label="/housing-local-and-community/planning-and-building"
                  data-track-options='{"dimension28":"4","dimension29":"Planning and building"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"3","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Planning and building</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="4"
                  data-track-label="/housing-local-and-community/local-plans"
                  data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Local Plans</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="4"
                  data-track-label="/housing-local-and-community/local-plans"
                  data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Create or update a local plan</a
                >
              </li>
            </ol>
          </div>
        </div>

        <main role="main" id="content" class="detailed-guide" lang="en">
          <span id="Top"></span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8"
              >
                <span class="govuk-caption-xl gem-c-title__context">
                  Guidance
                </span>

                <h1 class="gem-c-title__text govuk-heading-l">
                  Starting site assessment
                </h1>
              </div>
            </div>

            <div class="govuk-grid-column-two-thirds">
              <p class="gem-c-lead-paragraph">
                A guide to filter, assess and score your sites. Includes suggested methodologies and what to record for examination.
              </p>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="metadata-logo-wrapper">
              <div class="govuk-grid-column-two-thirds metadata-column">
                <div
                  class="gem-c-metadata"
                  data-module="gem-toggle metadata"
                  data-gem-toggle-module-started="true"
                  data-metadata-module-started="true"
                >
                  <dl
                    class="gem-c-metadata__list"
                    data-module="gem-track-click"
                    data-gem-track-click-module-started="true"
                  >
                    <dt class="gem-c-metadata__term">From:</dt>
                    <dd class="gem-c-metadata__definition">
                      <a
                        class="govuk-link"
                        href="#"
                        >Ministry of Housing,
                          Communities &
                          Local Government
                      </a>
                    </dd>
                    <dt class="gem-c-metadata__term">Published</dt>
                    <dd class="gem-c-metadata__definition">23 August 2024</dd>
                  </dl>
                </div>
              </div>
              <div class="govuk-grid-column-one-third"></div>
            </div>
          </div>

          <div
            data-module="gem-track-click ga4-link-tracker"
            class="govuk-!-display-none-print govuk-!-margin-bottom-6"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
            <form
              class="gem-c-single-page-notification-button"
              action="#"
              method="POST"
              data-track-label="/guidance/what-to-consider-when-engaging-on-your-local-plan"
              data-track-action="Subscribe-button-top"
              data-track-category="Single-page-notification-button"
              data-button-location="top"
              data-button-text-subscribe="Get emails about this page"
              data-button-text-unsubscribe="Stop getting emails about this page"
            >
              <input
                type="hidden"
                name="base_path"
                value="/guidance/what-to-consider-when-engaging-on-your-local-plan"
              />
              <button
                class="govuk-body-s gem-c-single-page-notification-button__submit"
                type="submit"
                data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":1,"index_total":2,"section":"Top","url":"#"}'
              >
                <svg
                  class="gem-c-single-page-notification-button__icon"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  height="18"
                  width="18"
                  viewBox="0 0 459.334 459.334"
                >
                  <path
                    fill="currentColor"
                    d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
                  ></path></svg
                ><span class="gem-c-single-page-notication-button__text"
                  >Get emails about this page</span
                >
              </button>
            </form>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                id="contents"
                class="app-c-contents-list-with-body"
                data-module="sticky-element-container"
                data-sticky-element-container-module-started="true"
              >
                <div class="responsive-bottom-margin">
                  <nav
                    data-module="gem-track-click ga4-link-tracker"
                    aria-label="Contents"
                    class="gem-c-contents-list"
                    role="navigation"
                    data-gem-track-click-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <h2 class="gem-c-contents-list__title">Contents</h2>
                    <ol class="gem-c-contents-list__list">
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                        href="#filtering-out-unsuitable-sites"
                          >Filtering out unsuitable sites</a>
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                        href="#information-to-record-about-your-sites"
                          >Information to record about your sites</a>
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#assessing-suitability-availability-achievability"
                          >Assessing suitabillity, availability, achievability</a>
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#scoring-your-sites"
                          >Scoring your sites</a>
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#finishing-your-assessment"
                          >Finishing your assessment</a>
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#next-steps"
                          >Next steps</a>
                      </li>
                    </ol>
                  </nav>
                </div>

                <div
                  class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6"
                >
                  <button
                    class="govuk-link govuk-body-s gem-c-print-link__button"
                  >
                    Print this page
                  </button>
                </div>

                <div
                  class="gem-c-govspeak govuk-govspeak"
                  data-module="govspeak ga4-link-tracker"
                  data-ga4-track-links-only=""
                  data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                  data-ga4-link='{"event_name":"navigation","type":"callout"}'
                  data-govspeak-module-started="true"
                  data-ga4-link-tracker-module-started="true"
                >
                  <div class="govspeak">

                    <p>
                      During assessment, you will filter out any obviously unsuitable sites, before applying a methodology to find likely candidates.
                    </p>

                    <p>
                      You’ll focus on scoring whether a site is suitable, available and achievable. This will depend on your local context, so your planning judgement is once again important here. Following a similar methodology to previous stages is more likely to result in consistent decisions. 
                    </p>

                    <p>
                      It’s important you’re able to properly explain these decisions. We’ll cover what you need to include at examination, and what to do if you do not have enough sites at the end of the process.
                    </p>

                    <div class="call-to-action">
                      <p>
                          Learn more about <a href="stage-1-identifying-sites">Stage 1: Identifying Sites</a>, <a href="stage-3-arriving-at-draft-allocations">Stage 3: Arriving at draft site allocations</a>, or <a href="stage-4-recording-decisions">Stage 4: Confirming sites and recording your decisions</a>
                      </p>
                  </div>

                    <h3>
                      Aim of this section
                    </h3>

                    <ul>
                      <li>
                        filter out any sites unsuitable for development
                      </li>
                      <li>
                        understand what information to record about potential sites
                      </li>
                      <li>
                        assess each potential site using your methodology 
                      </li>
                      <li>
                        score each site based on your criteria and local context
                      </li>
                    </ul>

                    <h3>
                      Outputs of this section
                    </h3>

                    <ul>
                      <li>
                        a list of assessed sites you think are most likely suitable for development
                      </li>
                    </ul>

                    <h2 id="filtering-out-unsuitable-sites">
                      Filtering out unsuitable sites
                    </h2>

                    <p>
                      The first task is an initial ‘sift’ of your sites. This is to rule out sites that include major constraints and are therefore currently unsuitable for development. 
                    </p>

                    <p>
                      You should carefully consider how to mitigate any site that is completely or mostly affected by one or more of these constraints. You can also add your own exclusion criteria, which takes local circumstances into account.  
                    </p>

                    <p>
                      You’ll need to include strong rationale for all sites you decide to include and exclude.
                    </p>

                    <p>
                      These national constraints are:
                    </p>

                    <ul>
                      <li>Ramsar/Special Protection Area/Special Areas of Conservation</li>
                      <li>Habitat sites</li>
                      <li>Designed Sites of Special Scientific Interest (SSSIs) </li>
                      <li>Green Belt, Local Green Space, an Area of Outstanding Natural Beauty, National Park or Heritage Coast</li>
                      <li>Irreplaceable habitats
                      </li>
                      <li>Designated heritage assets, and other heritage assets of archaeological interest
                      </li>
                      <li>Scheduled Monuments</li>
                      <li>Ancient Woodlands</li>
                      <li>Flood Zones 3a and 3b, or areas at risk of flooding or coastal change</li>
                      <li>Public Safety Zones (i.e. airports)</li>
                      <li>Detailed Emergency Planning Zones</li>
                      <li>Health &amp; Safety Executive Consultation Zones</li>
                      <li>Village Green / Common Land</li>
                    </ul>

                    <p>
                      Based on these constraints, you should create a list of ‘unsuitable’ sites, and a list of ‘potentially suitable’ sites. 
                    </p>

                    <p>
                      Where some sites might be suitable with certain mitigations, you should record these along with the suggested mitigation.
                    </p>

                    <p>
                      Decisions you make on sites at this point do not have to be final. If, when you come to your full assessment, you do not have the right number of sites, you will be able to revisit those you discounted at this stage. 
                    </p>

                    <p>
                      You can learn more about what to do in this case as part of finishing your assessment.
                    </p>

                    <h2 id="information-to-record-about-your-sites">
                      Information to record about your sites
                    </h2>

                    <p>
                      As you go through and assess your sites, you need to record your decisions and activities, and keep this information updated as you go.  
                    </p>

                    <p>
                      For each site you assess, you should record information including:
                    </p>

                    <ul>
                      <li>site name or reference</li>
                      <li>site land use (both existing and proposed)</li>
                      <li>site location and size (preferably on a map)</li>
                      <li>site constraints, mitigations and other considerations </li>
                      <li>site scoring</li>
                      <li>why you scored the site the way you did</li>
                      <li>why you have or have not taken the site through to the next stage</li>
                      <li>why you have or have not allocated sites</li>
                    </ul>

                    <p>
                      When explaining your decisions, you should include reference to any factors specific to your local area that have influenced them. 
                    </p>

                    <p>
                      You should be as open as possible in your records. Include as much detail as you can about why you chose or discarded your sites. This allows inspectors to see the decisions you’ve made, and helps them check that your judgement is sound at examination. It will also benefit any other interested parties once details are published.   
                    </p>

                    <p>
                      You can also change your initial conclusions about a site later, but should <a href="stage-4-recording-decisions">record why you’ve done this</a>. 
                    </p>

                    <p>
                      If at any point you need more information about a site so you can make a judgement, you should request this from the responder.  
                    </p>

                    <h2 id="assessing-suitability-availability-achievability">
                      Assessing suitability, availability, achievability
                    </h2>

                    <p>
                      After your initial sift, you can start your full assessment on the sites you’ve carried forward. 
                    </p>

                    <p>
                      This means considering a site’s suitability, availability and achievability. You also need to consider whether it might be viable.  
                    </p>

                    <p>
                      The goal of this is to ultimately decide whether a site is deliverable or developable. 
                    </p>

                    <ul>
                      <li>
                        <strong>deliverable</strong> - suitable, available now, and achievable within five years
                      </li>
                      <li>
                        <strong>developable</strong>
                        - suitable, with a reasonable prospect they could be available and achievable within the plan period (typically 15 years) 
                      </li>
                    </ul>

                    <p>
                      You should apply this thinking to all potential sites, except existing allocations and those with existing planning permission. These can be taken on at the next stage of assessment. 
                    </p>

                    <p>
                      As is the case throughout these stages, this approach should be balanced against your judgement. Local knowledge and context should inform the decisions you make, and you should prioritise local needs throughout the process. 
                    </p>

                    <p>
                      It’s important you have a clear rationale to support these decisions, particularly where you deviate from the standard approach.  
                    </p>

                    <h3 id="suitability">
                      Suitability
                    </h3>

                    <p>
                      The suitability of sites is influenced by: 
                    </p>

                    <ul>
                      <li>national planning policy</li>
                      <li>local planning policy</li>
                      <li>physical constraints</li>
                      <li>impact of development and mitigation</li>
                    </ul>

                    <strong>Constraints to consider</strong>

                    <p>
                      At this stage, you should consider:
                    </p>

                    <ul>
                      <li>existing local and national policy constraints</li>
                      <li>local policy choices made through the plan, such as green belt</li>
                      <li>highway access</li>
                      <li>neighbouring amenities</li>
                      <li>sustainability and accessibility</li>
                    </ul>

                    <strong>
                      Additional constraints needing review and mitigation
                    </strong>

                    <p>
                      Outside of the major ones listed above, there are other constraints that you’ll need to carefully consider. 
                    </p>

                    <p>
                      These include:
                    </p>

                    <ul>
                      <li>an Area of Outstanding National Beauty</li>
                      <li>local green space</li>
                      <li>areas at risk of flooding or coastal change</li>
                      <li>local nature sites</li>
                      <li>national parks</li>
                      <li>minerals policy</li>
                      <li>listed buildings</li>
                      <li>waste policies</li>
                      <li>groundwater source protection</li>
                      <li>heritage designations</li>
                      <li>local wildlife sites</li>
                      <li>coastal protection belt</li>
                      <li>tree preservation orders</li>
                      <li>local biodiversity considerations</li>
                      <li>best and most versatile agricultural land</li>
                      <li>aviation constraints</li>
                      <li>relevant buffer zones</li>
                      <li>public rights of way</li>
                      <li>contamination</li>
                    </ul>

                    <p>
                      It’s important that this stage remains ‘policy off’, and free from suitability considerations relating to local policy. For example, distance from existing settlements. These can be considered later in the process once you have a list of potentially suitable sites.
                    </p>

                    <h3 id="availability">
                      Availability
                    </h3>

                    <p>
                      You should have information from the call for sites to check the availability of a site. It should be considered available if the landowner or promoter has said they intend to build on the site or sell it for development, and there are no legal constraints.  
                    </p>

                    <p>
                      Sites that might be considered unavailable include sites with: 
                    </p>

                    <ul>
                      <li>multiple owners with no agreements</li>
                      <li>ransom strips</li>
                      <li>tenancies</li>
                      <li>covenants</li>
                    </ul>

                    <p>
                      You should include timescales for availability in your documentation, as well as where site availability is unknown. 
                    </p>

                    <h3 id="achievability">
                      Achievability 
                    </h3>

                    <p>
                      The achievability of a site is assessed based on whether it can be built on at a particular point in time, and if it is likely to be viable.  
                    </p>

                    <p>
                      You should review the sites at a high-level using typologies, or a sample of sites, as an initial viability study. This will help show whether your preferred spatial strategy is achievable.
                    </p>

                    <p>
                      These assessments could split the authority into a few value areas which reflect price differences, including: 
                    </p>

                    <ul>
                      <li>notional Greenfield / Brownfield schemes</li>
                      <li>different sized schemes</li>
                      <li>more marginally viability schemes</li>
                    </ul>

                    <p>
                      This will help you work out if any site topologies are unviable. Any sites with a typology that is unviable should be considered unachievable at this stage.  
                    </p>

                    <p>
                      Your goal is to inform potential trade-offs in sites later in the process. A whole plan viability study at a later stage will check the viability of specific sites and any policy requirements your plan might need to consider. 
                    </p>

                    <p>
                      You should consider a developer’s capacity over a set period, and based lead-in times and build out rates on justified assumptions. This can include locally-based or national assumptions on achievability using five-year bandings. 
                    </p>

                    <h2 id="scoring-your-sites">
                      Scoring your sites
                    </h2>

                    <p>
                      As part of assessing the suitability, availability and achievability of your sites, you should compare each site and give them a proportional score. Rather than a complex quantitative-based approach, you should use a RAG (red, amber, green) method instead.  
                    </p>

                    <p>
                      You should assess each site against the constraints that are relevant to your local area. These will not be applied equally across your sites, as some may have a bigger impact than others. 
                    </p>

                    <p>
                      Score each site’s suitability, availability and achievability as a red, amber or green depending on the impact the constraints have, and how you may mitigate them. To help you assess its score, you should consider each site’s strengths, weaknesses and opportunities.
                    </p>

                    <h3>
                      Suitability - example scoring
                    </h3>

                    <ul>
                      <li>
                        Green means the site offers a suitable location for the land use and there are no known constraints which significantly inhibit development. Any known constraints can be feasibly overcome with mitigation
                      </li>
                      <li>
                        Amber means the site offers a potentially suitable location for the land use, but it either has constraints which may inhibit development, or it needs further suitability assessments
                      </li>
                      <li>
                        Red means the site does not offer a suitable development location for the land use. There are known constraints which significantly inhibit development and cannot feasibly be overcome with mitigation 
                      </li>
                    </ul>

                    <h3>
                      Availability - example scoring
                    </h3>

                    <ul>
                      <li>
                        Green means the site is available for development within the plan period and there are no known legal or ownership issues 
                      </li>
                      <li>
                        Amber means the site has been promoted for development, but either: 
                      </li>
                      <ul>
                        <li>
                          there are issues (such as multiple ownerships, land assembly issues or existing uses) which may mean it is not available within the plan period, or  
                        </li>
                        <li>
                          the site needs further suitability assessments before it can be deemed available 
                        </li>
                      </ul>
                      <li>
                        Red means the site is not available for development within the plan period, or it is subject to legal or ownership issues which are unlikely to be resolved within the plan period
                      </li>
                    </ul>

                    <h3>
                      Achievability - example scoring
                    </h3>

                    <ul>
                      <li>
                        Green means there is a reasonable prospect that the site will be developed for the land use within the plan period 
                      </li>
                      <li>
                        Amber means:
                      </li>
                        <ul>
                          <li>
                            the site’s availability is limited and the resolution or the timing of the resolution is unknown, or  
                          </li>
                          <li>
                            the site needs further achievability assessments  
                          </li>
                        </ul>
                      <li>
                        Red means there is no reasonable prospect that the site will be developed for the land use within the plan period
                      </li>
                    </ul>

                    <p>
                      These are examples of how you could apply a RAG scoring to your site scores. Use your planning judgement to create definitions that work for you. 
                    </p>

                    <p>
                      Once done, you should give each site an overall RAG score (red, amber or green). You may need to compare a number of sites and use your judgement to calculate a suitable score. This overall score (red, amber or green) will give everyone a clear indicator of which sites scored better than others.  
                    </p>

                    <h3>
                      Overall example scoring:
                    </h3>

                    <ul>
                      <li>
                        <strong>Red</strong>
                        means this site is not currently a candidate for allocation in your local plan (some red sites may need to be considered at later stages, depending on the outcomes of any consultation, examination or further assessment work) 
                      </li>
                      <li>
                        <strong>Amber</strong>
                        means this site is currently a candidate for allocation, but has a number of constraints to be mitigated against 
                      </li>
                      <li>
                        <strong>Green</strong>
                        means this site is a strong candidate for allocation in your local plan, with few or no constraints that need mitigation  
                      </li>
                    </ul>

                    <p>
                      Remember, these are only examples of how you could apply a RAG scoring to your overall scores. Use your planning judgement to create definitions that work for you. 
                    </p>

                    <p>
                      You should not create or add any more scoring descriptions or labels to your work, other than the ones described above. This is to ensure clarity for inspectors and consistency across local authorities. 
                    </p>

                    <p>
                      Only rule out sites during your assessment if you can clearly show that they are: 
                    </p>

                    <ul>
                      <li>
                        unsuitable for your strategy (this should be ‘policy off’ - see the ‘Suitability’ section for more detail)
                      </li>
                      <li>
                        unachievable in the timescales
                      </li>
                      <li>
                        have major constraints that can’t be mitigated against
                      </li>
                    </ul>

                    <p>
                      It should be clear which sites you will be taking forward at each stage, and which ones you will not. Give explanations for your scoring decisions. These should make it clear if you have changed your mind about a site during the process, and why you have done this.
                    </p>

                    <p>
                      Inspectors are looking for a clear narrative of each site so they can understand why you have made the decisions that you have. Providing this will increase the likelihood your local plan may be deemed as sound at examination.  
                    </p>

                    <h2 id="finishing-your-assessment">
                      Finishing your assessment 
                    </h2>

                    <p>
                      When you have done your detailed assessment, you should have a list of sites you’ve identified with the following information: 
                    </p>

                    <ul>
                      <li>site name or reference</li>
                      <li>site location</li>
                      <li>how much you can build on each site</li>
                      <li>the time it will take to build on each site</li>
                      <li>a list of constraints to overcome</li>
                      <li>the mitigations for the constraints</li>
                      <li>individual RAG scores for suitability, availability and achievability</li>
                      <li>overall RAG score</li>
                      <li>justifications for overall score</li>
                      <li>
                        indication of whether you are taking the site forward or filtering it out at this stage
                      </li>
                    </ul>

                    <p>
                      You are likely to have filtered out very few sites at this stage, so make sure you are being clear as to why you are not taking them forward. 
                    </p>

                    <p>
                      Justifications for how you scored your sites should be transparent about their constraints and no longer than 3-4 sentences. 
                    </p>

                    <h3>
                      What to do if you do not have enough sites
                    </h3>

                    <p>
                      If you do not have enough sites at the end of your detailed assessment, there are several steps you can take. 
                    </p>

                    <p>
                      This includes:
                    </p>

                    <ul>
                      <li>
                        reconsidering any sites you discounted during initial sifting
                      </li>
                      <li>
                        re-running the assessment process with different mitigation criteria and local considerations
                      </li>
                      <li>
                        running another call for sites, which could be targeted towards particular locations or types of development 
                      </li>
                      <li>
                        doing further work to find potential sites not previously identified, such as a small sites study
                      </li>
                      <li>
                        reconsidering assumptions around density and development potential
                      </li>
                    </ul>

                    <p>
                      If you follow these approaches and still do not have enough sites, you should <a href="stage-4-recording-decisions">document why this is</a> and the steps you took to address it.  
                    </p>

                    <p>
                      It’s really important to be able to show the steps you’ve taken when it comes to your evaluation. Therefore, you should be able to show a clear rationale for your approach to how you identified and selected sites, and how this gave you your results. 
                    </p>

                    <p>
                      You can also apply similar considerations if you do not have <a href="stage-3-arriving-at-draft-allocations">enough sites in your draft allocations</a>. 
                    </p>

                    <h2 id="next-steps">
                      Next steps
                    </h2>

                    <p>
                      The next part of the sites process is<a href="stage-3-arriving-at-draft-allocations">Stage 3: Arriving at draft site allocations</a>.
                    </p>
                  
                  </div>
                </div>

                <div
                  class="app-c-published-dates govuk-!-margin-bottom-5"
                  lang="en"
                >
                  Published 23 August 2024
                </div>

                <div class="published-dates-button-group">
                  <div
                    data-module="gem-track-click ga4-link-tracker"
                    class="govuk-!-display-none-print govuk-!-margin-bottom-3"
                    data-gem-track-click-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <form
                      class="gem-c-single-page-notification-button"
                      action="#"
                      method="POST"
                      data-track-label="/guidance/what-to-consider-when-engaging-on-your-local-plan"
                      data-track-action="Subscribe-button-bottom"
                      data-track-category="Single-page-notification-button"
                      data-button-location="bottom"
                      data-button-text-subscribe="Get emails about this page"
                      data-button-text-unsubscribe="Stop getting emails about this page"
                    >
                      <input
                        type="hidden"
                        name="base_path"
                      />
                      <button
                        class="govuk-body-s gem-c-single-page-notification-button__submit"
                        type="submit"
                        data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":2,"index_total":2,"section":"Footer","url":"#"}'
                      >
                        <svg
                          class="gem-c-single-page-notification-button__icon"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          height="18"
                          width="18"
                          viewBox="0 0 459.334 459.334"
                        >
                          <path
                            fill="currentColor"
                            d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
                          ></path></svg
                        ><span class="gem-c-single-page-notication-button__text"
                          >Get emails about this page</span
                        >
                      </button>
                    </form>
                  </div>

                  <div
                    class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-8"
                  >
                    <button
                      class="govuk-link govuk-body-s gem-c-print-link__button"
                      data-module="print-link"
                      data-print-link-module-started="true"
                    >
                      Print this page
                    </button>
                  </div>
                </div>

                <div
                  data-sticky-element=""
                  class="app-c-contents-list-with-body__link-wrapper sticky-element--hidden sticky-element--stuck-to-window sticky-element--enabled"
                >
                  <div class="app-c-contents-list-with-body__link-container">
                    <a
                      class="govuk-link app-c-back-to-top dont-print"
                      href="#contents"
                    >
                      <svg
                        class="app-c-back-to-top__icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="17"
                        viewBox="0 0 13 17"
                        aria-hidden="true"
                        focusable="false"
                      >
                        <path
                          fill="currentColor"
                          d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"
                        ></path>
                      </svg>
                      Contents
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="gem-c-contextual-sidebar"></div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="gem-c-contextual-footer"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

{% endblock %}
