{% extends "layouts/main.html" %} {% set pageName="A more transparent call for
sites through community workshops - Case study" %} {% block content %}

<div class="govuk-grid-row draft">
  <div class="govuk-grid-column-full">
    <div
      id="body"
      class="gem-c-layout-for-public govuk-template__body js-enabled"
    >
      <div id="wrapper" class="direction-ltr govuk-width-container">
        <div class="gem-c-contextual-breadcrumbs">
          <div
            data-module="gem-track-click ga4-link-tracker"
            class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="homeLinkClicked"
                  data-track-action="homeBreadcrumb"
                  data-track-label=""
                  data-track-options="{}"
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"1","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="/"
                  >Home</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="2"
                  data-track-label="/housing-local-and-community"
                  data-track-options='{"dimension28":"4","dimension29":"Housing, local and community"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"2","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="/housing-local-and-community"
                  >Housing, local and community</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="3"
                  data-track-label="/housing-local-and-community/planning-and-building"
                  data-track-options='{"dimension28":"4","dimension29":"Planning and building"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"3","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="/housing-local-and-community/planning-and-building"
                  >Planning and building</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="4"
                  data-track-label="/housing-local-and-community/local-plans"
                  data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="/housing-local-and-community/local-plans"
                  >Local Plans</a
                >
              </li>
            </ol>
          </div>
        </div>

        <main role="main" id="content" class="case-study" lang="en">
          <span id="Top"></span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds responsive-top-margin">
              <div
                class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8"
              >
                <span class="govuk-caption-xl gem-c-title__context">
                  Case study
                </span>

                <h1 class="gem-c-title__text govuk-heading-l">
                  A more transparent call for sites through community workshops
                </h1>
              </div>
            </div>

            <div class="govuk-grid-column-two-thirds">
              <p class="gem-c-lead-paragraph">
                How Ashford Borough Council was able to balance consultation and
                evidence gathering.
              </p>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="metadata-logo-wrapper">
              <div class="govuk-grid-column-two-thirds metadata-column">
                <div
                  class="gem-c-metadata"
                  data-module="gem-toggle metadata"
                  data-gem-toggle-module-started="true"
                  data-metadata-module-started="true"
                >
                  <dl
                    class="gem-c-metadata__list"
                    data-module="gem-track-click"
                    data-gem-track-click-module-started="true"
                  >
                    <dt class="gem-c-metadata__term">From:</dt>
                    <dd class="gem-c-metadata__definition">
                      <a
                        class="govuk-link"
                        href="/government/organisations/department-for-levelling-up-housing-and-communities"
                        >Department for Levelling Up, Housing and Communities
                      </a>
                    </dd>
                    <dt class="gem-c-metadata__term">Published</dt>
                    <dd class="gem-c-metadata__definition">20 March 2024</dd>
                    <dt class="gem-c-metadata__term">Last updated</dt>
                    <dd class="gem-c-metadata__definition">
                      18 December 2023 —
                      <a
                        href="#full-publication-update-history"
                        class="gem-c-metadata__definition-link govuk-!-display-none-print js-see-all-updates-link"
                        data-track-category="content-history"
                        data-track-action="see-all-updates-link-clicked"
                        data-track-label="history"
                      >
                        See all updates
                      </a>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="govuk-grid-column-one-third"></div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="content-bottom-margin">
                <div class="responsive-bottom-margin">
                  <figure class="app-c-figure" lang="en">
                    <img
                      class="app-c-figure__image"
                      src="https://assets.integration.publishing.service.gov.uk/media/6156c35c8fa8f52985dd7453/s300_2_Marsham_Street_960x640.jpg"
                      alt=""
                    />
                    <figcaption class="app-c-figure__figcaption"></figcaption>
                  </figure>

                  <div
                    class="gem-c-govspeak govuk-govspeak direction-ltr"
                    data-module="govspeak ga4-link-tracker"
                    data-ga4-track-links-only=""
                    data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                    data-ga4-link='{"event_name":"navigation","type":"callout"}'
                    data-govspeak-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <div class="govspeak">
                      <p>
                        Ashford Borough Council faced what they called ‘a
                        typical problem’ when creating their local plan;
                        delivering housing growth while maintaining
                        environmental/countryside protection.
                      </p>

                      <p>
                        They needed to understand the concerns of the local
                        community while progressing with housing allocations.
                        This is how they approached the challenge.<br />
                        Caption
                      </p>

                      <h2 id="the-approach">The approach</h2>

                      <ul>
                        <li>Transparent conversations during engagement</li>
                        <li>
                          Call for sites run after building a shared
                          consensus&nbsp;
                        </li>
                        <li>Clear articulation of decisions for examination</li>
                      </ul>

                      <h2 id="creating-space-for-transparent-conversations">
                        Creating space for transparent conversations
                      </h2>

                      <p>
                        Our starting point was to get out into the community to
                        have a grown-up conversation with residents and parish
                        councillors about the challenges we faced.&nbsp;
                      </p>

                      <p>
                        You need to be 100 percent transparent in the way in
                        which you explain the issues to your community. Ashford
                        haven’t used ‘issues and options’ style documents as a
                        rule, although there are instances in which they can be
                        helpful to build consensus around approaches.&nbsp;
                      </p>

                      <p>
                        We started with ‘Plan Ashford’, which was really a
                        series of conversations to understand what the issues
                        were.
                      </p>

                      <h2 id="building-a-shared-consensus-before-a-milestone">
                        Building a shared consensus before a milestone
                      </h2>

                      <p>
                        We then did a ‘call for sites’ exercise and a series of
                        exhibitions jointly with the parish councils.&nbsp;
                      </p>

                      <p>
                        We presented the available sites on a map without
                        indicating their suitability. We used this as a basis
                        for discussions with communities on what their thoughts
                        were on these sites – the issues and
                        opportunities.&nbsp;
                      </p>

                      <p>
                        Understanding what your plan is seeking to achieve is
                        key. In terms of developing the strategy, you need a
                        clear narrative – and that narrative needs to be
                        underpinned by evidence. Don’t start from sites to
                        develop the strategy as you don’t always meet in the
                        middle.
                      </p>

                      <h2 id="being-able-to-show-decisions-during-assessment">
                        Being able to show decisions during assessment
                      </h2>

                      <p>
                        Being able to point the inspector to evidence and
                        articulate why you have made certain choices – and how
                        you have exercised your judgement – is key.&nbsp;
                      </p>

                      <p>
                        This can mean that you have allocated the ‘best site’
                        based on a strategy decision rather than consideration
                        of the site ‘scores’ in isolation. But you have to be
                        able to justify and explain this.&nbsp;
                      </p>

                      <p>
                        Being able to point an inspector to the relevant section
                        of an evidence document whether in statements or during
                        hearings inspires confidence.
                      </p>

                      <h2 id="in-summary">In summary</h2>

                      <p>Simon Cole, Head of Planning Policy, said:cc</p>

                      <blockquote>
                        <p class="last-child">
                          The strength of a local plan is based on two pillars:
                          consultation and evidence gathering. You need to
                          approach these proportionately and get the balance
                          right between them.
                        </p>
                      </blockquote>

                      <h2 id="get-more-infomation">Get more infomation</h2>

                      <p>
                        <a
                          rel="external"
                          href="https://www.ashford.gov.uk/planning-and-development/planning-policy/adopted-development-plan-documents/adopted-local-plan-to-2030/"
                          class="govuk-link"
                          >Ashford Borough Council local plan to 2030</a
                        >
                      </p>
                    </div>
                  </div>
                </div>

                <div class="app-c-published-dates" lang="en">
                  Published 20 March 2024
                  <br />Last updated 18 December 2023
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="gem-c-contextual-sidebar"></div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="gem-c-contextual-footer"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

{% endblock %}
