{% extends "layouts/main.html" %} {% set pageName="Home" %} {% block content %}

<div id="wrapper" class="direction-ltr govuk-width-container">
  <div class="gem-c-contextual-breadcrumbs">
    <div
      data-module="gem-track-click ga4-link-tracker"
      class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile"
      data-gem-track-click-module-started="true"
      data-ga4-link-tracker-module-started="true"
    >
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a
            data-track-category="homeLinkClicked"
            data-track-action="homeBreadcrumb"
            data-track-label=""
            data-track-options="{}"
            data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"1","index_total":"4"}'
            class="govuk-breadcrumbs__link"
            href="/"
            >Home</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a
            data-track-category="breadcrumbClicked"
            data-track-action="2"
            data-track-label="/housing-local-and-community"
            data-track-options='{"dimension28":"4","dimension29":"Housing, local and community"}'
            data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"2","index_total":"4"}'
            class="govuk-breadcrumbs__link"
            href="/housing-local-and-community"
            >Housing, local and community</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a
            data-track-category="breadcrumbClicked"
            data-track-action="3"
            data-track-label="/housing-local-and-community/planning-and-building"
            data-track-options='{"dimension28":"4","dimension29":"Planning and building"}'
            data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"3","index_total":"4"}'
            class="govuk-breadcrumbs__link"
            href="/housing-local-and-community/planning-and-building"
            >Planning and building</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a
            data-track-category="breadcrumbClicked"
            data-track-action="4"
            data-track-label="/housing-local-and-community/local-plans"
            data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
            data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
            class="govuk-breadcrumbs__link"
            href="/housing-local-and-community/local-plans"
            >Local Plans</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a
            data-track-category="breadcrumbClicked"
            data-track-action="4"
            data-track-label="/housing-local-and-community/local-plans"
            data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
            data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
            class="govuk-breadcrumbs__link"
            href="/housing-local-and-community/local-plans/engaging-stakeholders"
            >Engaging stakeholders</a
          >
        </li>
      </ol>
    </div>
  </div>

  <main role="main" id="content" class="publication" lang="en">
    <span id="Top"></span>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
          <span class="govuk-caption-xl gem-c-title__context"> Guidance </span>

          <h1 class="gem-c-title__text govuk-heading-l">
            What to consider when engaging on your local plan
          </h1>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="gem-c-lead-paragraph">
          Stages to go through when preparing to engage with people on your
          local plan.
        </p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="metadata-logo-wrapper">
        <div class="govuk-grid-column-two-thirds metadata-column">
          <div
            class="gem-c-metadata"
            data-module="gem-toggle metadata"
            data-gem-toggle-module-started="true"
            data-metadata-module-started="true"
          >
            <dl
              class="gem-c-metadata__list"
              data-module="gem-track-click"
              data-gem-track-click-module-started="true"
            >
              <dt class="gem-c-metadata__term">From:</dt>
              <dd class="gem-c-metadata__definition">
                <a
                  class="govuk-link"
                  href="/government/organisations/department-for-levelling-up-housing-and-communities"
                  >Department for Levelling Up, Housing and Communities
                </a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="govuk-grid-column-one-third"></div>
      </div>
    </div>

    <div
      data-module="gem-track-click ga4-link-tracker"
      class="govuk-!-display-none-print govuk-!-margin-bottom-6"
      data-gem-track-click-module-started="true"
      data-ga4-link-tracker-module-started="true"
    >
      <form
        class="gem-c-single-page-notification-button"
        action="/email/subscriptions/single-page/new"
        method="POST"
        data-track-label="/government/publications/what-to-consider-when-engaging-on-your-local-plan"
        data-track-action="Subscribe-button-top"
        data-track-category="Single-page-notification-button"
        data-button-location="top"
        data-button-text-subscribe="Get emails about this page"
        data-button-text-unsubscribe="Stop getting emails about this page"
      >
        <input
          type="hidden"
          name="base_path"
          value="/government/publications/what-to-consider-when-engaging-on-your-local-plan"
        />
        <button
          class="govuk-body-s gem-c-single-page-notification-button__submit"
          type="submit"
          data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":1,"index_total":2,"section":"Top","url":"/email/subscriptions/single-page/new"}'
        >
          <svg
            class="gem-c-single-page-notification-button__icon"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            height="18"
            width="18"
            viewBox="0 0 459.334 459.334"
          >
            <path
              fill="currentColor"
              d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
            ></path></svg
          ><span class="gem-c-single-page-notication-button__text"
            >Get emails about this page</span
          >
        </button>
      </form>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="responsive-bottom-margin">
          <div class="responsive-bottom-margin">
            <section id="details">
              <h2
                class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--mobile-top-margin"
              >
                Details
              </h2>

              <div
                class="gem-c-govspeak govuk-govspeak direction-ltr"
                data-module="govspeak ga4-link-tracker"
                data-ga4-track-links-only=""
                data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                data-ga4-link='{"event_name":"navigation","type":"callout"}'
                data-govspeak-module-started="true"
                data-ga4-link-tracker-module-started="true"
              >
                <div class="govspeak">
                  <h2 id="outline-your-consultation-approach">
                    Outline your consultation approach
                  </h2>

                  <p>
                    There are many opportunities to outline your consultation
                    approach early in the local plans process. Most notably,
                    this can include developing an engagement plan, which will
                    act as your guide.
                  </p>

                  <p>When setting out your approach, you should consider:</p>

                  <ul>
                    <li>who you want to consult</li>
                    <li>what specific feedback you want</li>
                    <li>how that feedback will help shape your plan</li>
                    <li>how consultation will benefit the community</li>
                  </ul>

                  <p>
                    This final point is arguably the most important. All efforts
                    should be made to show how consultation will shape the local
                    plan.
                  </p>

                  <p>
                    Defining your approach early also means you’re able to start
                    engagement early. This can give you the best chance to speak
                    to, get feedback from, and shape your plan around your
                    consultees.
                  </p>

                  <h2 id="contact-statutory-consultees">
                    Contact statutory consultees
                  </h2>

                  <p>
                    It’s a good idea to personalise your approach to contacting
                    statutory consultees. Notifying them individually allows you
                    to share evidence that’s more relevant to them.
                  </p>

                  <p>
                    Examples include links and documents to key information
                    based on their expertise. This will save them time they
                    would otherwise spend looking for the evidence. You can also
                    make sure nothing is missed.
                  </p>

                  <p>
                    Examples include links and documents to key information
                    based on their expertise. This will save them time they
                    would otherwise spend looking for the evidence. You can also
                    make sure nothing is missed.
                  </p>

                  <h2 id="choose-the-right-feedback-formats">
                    Choose the right feedback formats
                  </h2>

                  <p>
                    Considering how you invite and collate comments is
                    important. It makes sure the consultation is openly
                    accessible, and that the analysis of responses is as
                    efficient as possible.
                  </p>

                  <p>Methods of flexible feedback can include:</p>

                  <ul>
                    <li>online surveys</li>
                    <li>feedback forms</li>
                    <li>interactive maps and data</li>
                    <li>in-person workshops</li>
                  </ul>

                  <p>
                    As when contacting statutory consultees, the goal is to get
                    feedback that matters and will make a difference to your
                    plan.
                  </p>

                  <h2 id="prepare-your-consultation-report">
                    Prepare your consultation report
                  </h2>

                  <p>
                    Once you’ve finished consultation, you should document your
                    approach in a consultation report.
                  </p>

                  <p>It should set out:</p>

                  <ul>
                    <li>the bodies and people invited to comment</li>
                    <li>a summary of their responses</li>
                    <li>key issues/themes you identified through analysis</li>
                    <li>your responses to these</li>
                  </ul>

                  <p>
                    This should include reference to how you’ll change the local
                    plan and where you may need any further evidence base work.
                  </p>

                  <p>
                    You should also include all the methods that you used to
                    make people aware of the consultation.
                  </p>

                  <h2 id="consider-future-needs">Consider future needs</h2>

                  <p>
                    Depending on what comes out of your consultations, you may
                    need to do further work. You could target different
                    audiences, or focus on wider engagement or evidence base
                    collection. Whatever the approach, you should consider it if
                    it will make the local plan better.
                  </p>

                  <p>For example, you might include workshops with:</p>

                  <ul>
                    <li>internal officers</li>
                    <li>statutory consultees</li>
                    <li>
                      key stakeholders, including locally constituted community
                      groups and designated neighbourhood plan forums
                    </li>
                  </ul>

                  <p>
                    Where possible, you should look to resolve any outstanding
                    issues. At this stage, these will likely involve
                    infrastructure providers and strategic site promoters/major
                    housebuilders.
                  </p>
                </div>
              </div>
            </section>
          </div>

          <div class="published-dates-button-group">
            <div
              data-module="gem-track-click ga4-link-tracker"
              class="govuk-!-display-none-print govuk-!-margin-bottom-3"
              data-gem-track-click-module-started="true"
              data-ga4-link-tracker-module-started="true"
            >
              <form
                class="gem-c-single-page-notification-button"
                action="/email/subscriptions/single-page/new"
                method="POST"
                data-track-label="/government/publications/what-to-consider-when-engaging-on-your-local-plan"
                data-track-action="Subscribe-button-bottom"
                data-track-category="Single-page-notification-button"
                data-button-location="bottom"
                data-button-text-subscribe="Get emails about this page"
                data-button-text-unsubscribe="Stop getting emails about this page"
              >
                <input
                  type="hidden"
                  name="base_path"
                  value="/government/publications/what-to-consider-when-engaging-on-your-local-plan"
                />
                <button
                  class="govuk-body-s gem-c-single-page-notification-button__submit"
                  type="submit"
                  data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":2,"index_total":2,"section":"Footer","url":"/email/subscriptions/single-page/new"}'
                >
                  <svg
                    class="gem-c-single-page-notification-button__icon"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    height="18"
                    width="18"
                    viewBox="0 0 459.334 459.334"
                  >
                    <path
                      fill="currentColor"
                      d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
                    ></path></svg
                  ><span class="gem-c-single-page-notication-button__text"
                    >Get emails about this page</span
                  >
                </button>
              </form>
            </div>

            <div
              class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-8"
            >
              <button
                class="govuk-link govuk-body-s gem-c-print-link__button"
                data-module="print-link"
                data-print-link-module-started="true"
              >
                Print this page
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="gem-c-contextual-sidebar"></div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="gem-c-contextual-footer"></div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
