{% extends "layouts/main.html" %} {% set pageName="Stage 4: Confirming sites and recording your decisions" %} {% block content %}

<script src="/public/javascripts/contents-sticky.js"></script>
<link rel="stylesheet" href="/public/css/contents.css" />

<div class="govuk-grid-row draft">
  <div class="govuk-grid-column-full">
    <div
      id="body"
      class="gem-c-layout-for-public govuk-template__body js-enabled"
    >
      <div id="wrapper" class="direction-ltr govuk-width-container">
        <div class="gem-c-contextual-breadcrumbs">
          <div
            data-module="gem-track-click ga4-link-tracker"
            class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a
                data-track-category="homeLinkClicked"
                data-track-action="homeBreadcrumb"
                data-track-label=""
                data-track-options="{}"
                data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"1","index_total":"4"}'
                class="govuk-breadcrumbs__link"
                href="#"
                >Home</a
              >
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a
                data-track-category="breadcrumbClicked"
                data-track-action="2"
                data-track-label="/housing-local-and-community"
                data-track-options='{"dimension28":"4","dimension29":"Housing, local and community"}'
                data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"2","index_total":"4"}'
                class="govuk-breadcrumbs__link"
                href="#"
                >Housing, local and community</a
              >
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a
                data-track-category="breadcrumbClicked"
                data-track-action="3"
                data-track-label="/housing-local-and-community/planning-and-building"
                data-track-options='{"dimension28":"4","dimension29":"Planning and building"}'
                data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"3","index_total":"4"}'
                class="govuk-breadcrumbs__link"
                href="#"
                >Planning and building</a
              >
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a
                data-track-category="breadcrumbClicked"
                data-track-action="4"
                data-track-label="/housing-local-and-community/local-plans"
                data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                class="govuk-breadcrumbs__link"
                href="#"
                >Local Plans</a
              >
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a
                data-track-category="breadcrumbClicked"
                data-track-action="4"
                data-track-label="/housing-local-and-community/local-plans"
                data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                class="govuk-breadcrumbs__link"
                href="#"
                >About Local Plans</a
              >
            </li>
          </ol>
          </div>
        </div>

        <main role="main" id="content" class="detailed-guide" lang="en">
          <span id="Top"></span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8"
              >
                <span class="govuk-caption-xl gem-c-title__context">
                  Guidance
                </span>

                <h1 class="gem-c-title__text govuk-heading-l">
                    Stage 4: Confirming sites and recording your decisions 
                </h1>
              </div>
            </div>

            <div class="govuk-grid-column-two-thirds">
              <p class="gem-c-lead-paragraph">
                Taking site allocations you have drafted and confirming which you wish to take forward into examination.
              </p>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="metadata-logo-wrapper">
              <div class="govuk-grid-column-two-thirds metadata-column">
                <div
                  class="gem-c-metadata"
                  data-module="gem-toggle metadata"
                  data-gem-toggle-module-started="true"
                  data-metadata-module-started="true"
                >
                  <dl
                    class="gem-c-metadata__list"
                    data-module="gem-track-click"
                    data-gem-track-click-module-started="true"
                  >
                    <dt class="gem-c-metadata__term">From:</dt>
                    <dd class="gem-c-metadata__definition">
                      <a
                        class="govuk-link"
                        href="#"
                        >Ministry of Housing,
                        Communities &
                        Local Government
                      </a>
                    </dd>
                    <dt class="gem-c-metadata__term">Published</dt>
                    <dd class="gem-c-metadata__definition">23 August 2013</dd>
                  </dl>
                </div>
              </div>
              <div class="govuk-grid-column-one-third"></div>
            </div>
          </div>

          <div
            data-module="gem-track-click ga4-link-tracker"
            class="govuk-!-display-none-print govuk-!-margin-bottom-6"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
            <form
              class="gem-c-single-page-notification-button"
              action="#"
              method="POST"
              data-track-label="/guidance/what-to-consider-when-engaging-on-your-local-plan"
              data-track-action="Subscribe-button-top"
              data-track-category="Single-page-notification-button"
              data-button-location="top"
              data-button-text-subscribe="Get emails about this page"
              data-button-text-unsubscribe="Stop getting emails about this page"
            >
              <input
                type="hidden"
                name="base_path"
              />
              <button
                class="govuk-body-s gem-c-single-page-notification-button__submit"
                type="submit"
                data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":1,"index_total":2,"section":"Top","url":"#"}'
              >
                <svg
                  class="gem-c-single-page-notification-button__icon"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  height="18"
                  width="18"
                  viewBox="0 0 459.334 459.334"
                >
                  <path
                    fill="currentColor"
                    d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
                  ></path></svg
                ><span class="gem-c-single-page-notication-button__text"
                  >Get emails about this page</span
                >
              </button>
            </form>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                id="contents"
                class="app-c-contents-list-with-body"
                data-module="sticky-element-container"
                data-sticky-element-container-module-started="true"
              >
                <div class="responsive-bottom-margin">
                  <nav
                    data-module="gem-track-click ga4-link-tracker"
                    aria-label="Contents"
                    class="gem-c-contents-list"
                    role="navigation"
                    data-gem-track-click-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <h2 class="gem-c-contents-list__title">Contents</h2>
                    <ol class="gem-c-contents-list__list">
                      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <span aria-hidden="true"></span>
                        <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#outputs-at-the-end-of-drafting-site-allocations">Outputs at the end of drafting site allocations</a>
                      </li>
                      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <span aria-hidden="true"></span>
                        <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#next-steps">Next steps</a>
                      </li>
                    </ol>
                  </nav>
                </div>

                <div
                  class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6"
                >
                  <button
                    class="govuk-link govuk-body-s gem-c-print-link__button"
                  >
                    Print this page
                  </button>
                </div>

                <div
                  class="gem-c-govspeak govuk-govspeak"
                >
                  <div class="govspeak">

                    <p>
                        This is where you confirm your preferred sites for your plan. They should be sites that best meet your plan’s needs, and align with your spatial strategy and vision based on the judgements you’ve made throughout the process.  
                    </p>

                    <p>
                        If you think you need to change your site allocations after this period, you may need to do further formal consultation on this before you submit your plan for examination. 
                    </p>

                    <p>
                        You should follow the process for both housing and employment sites at the same time. This helps ensure all sites are used most effectively. 
                    </p>

                    <div class="call-to-action">
                        <p>
                            Learn more about <a href="stage-1-identifying-sites">Stage 1: Identifying Sites</a>, <a href="stage-2-categorising-and-assessing">Stage 2: Categorising and assessing sites</a>, or <a href="stage-3-arriving-at-draft-allocations">Stage 3: Arriving at draft site allocations</a>
                        </p>
                    </div>

                    <h3>
                      Aim of this section
                    </h3>

                    <ul>
                      <li>
                        confirm the sites for your plan 
                      </li>
                      <li>
                        learn how to best record your decision making
                      </li>
                      <li>
                        understand the outputs you need by the end of the process 
                      </li>
                    </ul>

                    <h3>
                      Outputs of this section
                    </h3>

                    <ul>
                      <li>
                        a list of confirmed sites for examination to include in the plan 
                      </li>
                      <li>
                        a list of sites you have rejected 
                      </li>
                      <li>
                        your rationale for each selected and rejected site, and the evidence to support your decisions 
                      </li>
                    </ul>

                    <h2 id="testing-your-preferred-candidate-sites">
                        Outputs at the end of drafting site allocations 
                    </h2>

                    <p>
                      You should test your candidate sites on a settlement or sub-area scale. 
                    </p>

                    <p>
                      Test your sites by recording: 
                    </p>

                    <ul>
                      <li>why it is appropriate - including how it meets your local need and spatial strategy </li>
                      <li>how they meet your ‘best fit’ approach </li>
                      <li>how achievable each site is - including impact on local services, like schools or utilities </li>
                    </ul>

                    <p>
                      As well as your preferred candidate sites, you should test any available alternatives. This will allow for growth at the settlement or sub-area. You should consider whether they will provide a pipeline of deliverable and developable sites. 
                    </p>

                    <p>
                      Considering alternative sites will also feed into your plan's Strategic Environmental Assessment. You can follow separate guidance for more detail on this.  
                    </p>
                    
                    <h2 id="outputs-at-the-end-of-drafting-site-allocations">
                      Outputs at the end of drafting site allocations
                    </h2>
                    
                    <p>
                        As referenced throughout the process, it’s essential to include clear rationale about the decisions you make throughout your site selection process. It gives communities and stakeholders clarity on how you arrived at your sites, and why they are suitable. 
                    </p>

                    <p>
                        It's also easier to report on these decisions if you’ve documented them effectively. 
                    </p>

                    <p>You need to report on: </p>

                    <ul>
                      <li>sites you have selected for your local plan </li>
                      <li>sites you have not selected</li>
                      <li>your justification for each site</li>
                    </ul>

                    <p>
                        At examination, Planning Inspectors will look for a clear narrative of why you have chosen your sites, and whether your view on them has changed throughout your assessments. It is important to include the scores you gave for each site at Stage 2 (‘policy-off’) as well as Stage 3 (‘policy-on’). 
                    </p>

                    <p>
                        Your justifications should include why each site is or is not included in your plan, and you should also give reasons for how the site meets the local need and spatial strategy. 
                    </p>

                    <p>
                        You can read more about formatting your site selections below.  
                    </p>

                    <h3 id="describing-your-methodology">
                      Describing your methodology
                    </h3>

                    <p>
                        It’s essential you explain the methodology you decided to use when it comes to the examination. This is key to rationalising your decisions on specific sites.  
                    </p>

                    <p>
                        You should detail your approach, including: 
                    </p>

                    <ul>
                      <li>an overview of the methodology</li>
                      <li>how you applied this to different site types</li>
                      <li>how you considered all potential factors, including those listed above</li>
                      <li>how it gave you the best possible outcome </li>
                    </ul>

                    <p>
                        You should specifically reference why your methodology was most appropriate for your local context.
                    </p>

                    <p>
                        For example, where you’ve previously assessed a site as amber, but have since upgraded it to green based on more information. In this case, you should explain the scope of this new information, and why it led you to re-categorise the site.  
                    </p>

                    <h3>
                      Formatting your decisions
                    </h3>

                    <p>
                        It is strongly recommended that you set your decisions and rationale out in a summary table format to create clarity.  
                    </p>

                    <p>
                        Rationale should be clear but succinct, at around a few sentences for each site. These should be written as draft policy rather than supporting text, with any specific considerations for each site made clear. 
                    </p>

                    <p>
                        The table should also include appropriate cross-references to any detailed documentation from your assessments at Stages 2 and 3. 
                    </p>

                    <p>
                        You may be working from, and producing, several documents when assessing your sites in Stages 2 and 3. At examination, Planning Inspectors will want to follow a clear narrative on each site across these documents. An appropriately referenced summary table helps make this possible. 
                    </p>

                    <p>
                        The following detail also helps to assess whether your site selection process is justified for your plan: 
                    </p>

                    <ul>
                      <li>site name or reference </li>
                      <li>site location</li>
                      <li>how much you can build on each site </li>
                      <li>the time it will take to build out each site, including details on phasing larger sites where appropriate </li>
                      <li>individual RAG scores for suitability, availability and achievability </li>
                      <li>overall RAG score</li>
                      <li>justifications for overall score, including detail on any changes between Stages 2 and 3</li>
                      <li>indication or ordering of the sites to show which ones you have deemed unsuitable, and which ones are your proposed allocations.</li>
                    </ul>

                    <p>
                        Using this standardised approach allows Planning Inspectors and other examination participants to extract information quickly without the need for excessive detail. It is also quick and easy to format and edit if needed.  
                    </p>

                    <p>
                        Read more about how to effectively <a href="https://www.gov.uk/guidance/local-plan-examination-webpages-advice-for-local-planning-authorities#suggested-examination-webpage-structure:~:text=on%20gov.uk-,Suggested%20Examination%20Webpage%20Structure,-Main%20landing%20page">format your decisions for examination</a>. 
                    </p>

                    <h2 id="next-steps">
                      Next steps
                    </h2>

                    <p>
                        By finishing this section, you’ve completed all the work needed for identifying and selecting sites.  
                    </p>

                    <p>
                        Your chosen sites will form part of your local plan, which will be <a href="https://www.gov.uk/guidance/local-plans">scrutinised at examination</a> once ready. 
                    </p>
              
                  </div>
                </div>

                <div
                  class="app-c-published-dates govuk-!-margin-bottom-5"
                  lang="en"
                >
                  Published 23 August 2013
                </div>

                <div class="published-dates-button-group">
                  <div
                    data-module="gem-track-click ga4-link-tracker"
                    class="govuk-!-display-none-print govuk-!-margin-bottom-3"
                    data-gem-track-click-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <form
                      class="gem-c-single-page-notification-button"
                      action="#"
                      method="POST"
                      data-track-label="/guidance/what-to-consider-when-engaging-on-your-local-plan"
                      data-track-action="Subscribe-button-bottom"
                      data-track-category="Single-page-notification-button"
                      data-button-location="bottom"
                      data-button-text-subscribe="Get emails about this page"
                      data-button-text-unsubscribe="Stop getting emails about this page"
                    >
                      <input
                        type="hidden"
                        name="base_path"
                        value="/guidance/what-to-consider-when-engaging-on-your-local-plan"
                      />
                      <button
                        class="govuk-body-s gem-c-single-page-notification-button__submit"
                        type="submit"
                        data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":2,"index_total":2,"section":"Footer","url":"#"}'
                      >
                        <svg
                          class="gem-c-single-page-notification-button__icon"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          height="18"
                          width="18"
                          viewBox="0 0 459.334 459.334"
                        >
                          <path
                            fill="currentColor"
                            d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
                          ></path></svg
                        ><span class="gem-c-single-page-notication-button__text"
                          >Get emails about this page</span
                        >
                      </button>
                    </form>
                  </div>

                  <div
                    class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-8"
                  >
                    <button
                      class="govuk-link govuk-body-s gem-c-print-link__button"
                      data-module="print-link"
                      data-print-link-module-started="true"
                    >
                      Print this page
                    </button>
                  </div>
                </div>

                <div
                  data-sticky-element=""
                  class="app-c-contents-list-with-body__link-wrapper sticky-element--hidden sticky-element--stuck-to-window sticky-element--enabled"
                >
                  <div class="app-c-contents-list-with-body__link-container">
                    <a
                      class="govuk-link app-c-back-to-top dont-print"
                      href="#contents"
                    >
                      <svg
                        class="app-c-back-to-top__icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="17"
                        viewBox="0 0 13 17"
                        aria-hidden="true"
                        focusable="false"
                      >
                        <path
                          fill="currentColor"
                          d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"
                        ></path>
                      </svg>
                      Contents
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="gem-c-contextual-sidebar"></div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="gem-c-contextual-footer"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

{% endblock %}