{% extends "layouts/main.html" %} {% set pageName="Set up local plan consultation response email automation" %} {% block content %}

<script src="/public/javascripts/contents-sticky.js"></script>
<link rel="stylesheet" href="/public/css/contents.css" />

<div class="govuk-grid-row draft">
  <div class="govuk-grid-column-full">
    <div
      id="body"
      class="gem-c-layout-for-public govuk-template__body js-enabled"
    >
      <div id="wrapper" class="direction-ltr govuk-width-container">
        <div class="gem-c-contextual-breadcrumbs">
          <div
            data-module="gem-track-click ga4-link-tracker"
            class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="homeLinkClicked"
                  data-track-action="homeBreadcrumb"
                  data-track-label=""
                  data-track-options="{}"
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"1","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Home</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="2"
                  data-track-label="/housing-local-and-community"
                  data-track-options='{"dimension28":"4","dimension29":"Housing, local and community"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"2","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Housing, local and community</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="3"
                  data-track-label="/housing-local-and-community/planning-and-building"
                  data-track-options='{"dimension28":"4","dimension29":"Planning and building"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"3","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Planning and building</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="4"
                  data-track-label="/housing-local-and-community/local-plans"
                  data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Local Plans</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="4"
                  data-track-label="/housing-local-and-community/local-plans"
                  data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >About Local Plans</a
                >
              </li>
            </ol>
          </div>
        </div>

        <main role="main" id="content" class="detailed-guide" lang="en">
          <span id="Top"></span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8"
              >
                <span class="govuk-caption-xl gem-c-title__context">
                  Guidance
                </span>

                <h1 class="gem-c-title__text govuk-heading-l">
                  For planning teams: Access automated email responses for local plan consultations
                </h1>
              </div>
            </div>

            <div class="govuk-grid-column-two-thirds">
              <p class="gem-c-lead-paragraph">
                Learn how to access and update a database generated by the Microsoft Outlook automation. 
              </p>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="metadata-logo-wrapper">
              <div class="govuk-grid-column-two-thirds metadata-column">
                <div
                  class="gem-c-metadata"
                  data-module="gem-toggle metadata"
                  data-gem-toggle-module-started="true"
                  data-metadata-module-started="true"
                >
                  <dl
                    class="gem-c-metadata__list"
                    data-module="gem-track-click"
                    data-gem-track-click-module-started="true"
                  >
                    <dt class="gem-c-metadata__term">From:</dt>
                    <dd class="gem-c-metadata__definition">
                      <a
                        class="govuk-link"
                        href="#"
                        >Department for Levelling Up, Housing and Communities
                      </a>
                    </dd>
                    <dt class="gem-c-metadata__term">Published</dt>
                    <dd class="gem-c-metadata__definition">23 August 2013</dd>
                  </dl>
                </div>
              </div>
              <div class="govuk-grid-column-one-third"></div>
            </div>
          </div>

          <div
            data-module="gem-track-click ga4-link-tracker"
            class="govuk-!-display-none-print govuk-!-margin-bottom-6"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
            <form
              class="gem-c-single-page-notification-button"
              action="/email/subscriptions/single-page/new"
              method="POST"
              data-track-label="/guidance/what-to-consider-when-engaging-on-your-local-plan"
              data-track-action="Subscribe-button-top"
              data-track-category="Single-page-notification-button"
              data-button-location="top"
              data-button-text-subscribe="Get emails about this page"
              data-button-text-unsubscribe="Stop getting emails about this page"
            >
              <input
                type="hidden"
                name="base_path"
                value="/guidance/what-to-consider-when-engaging-on-your-local-plan"
              />
              <button
                class="govuk-body-s gem-c-single-page-notification-button__submit"
                type="submit"
                data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":1,"index_total":2,"section":"Top","url":"/email/subscriptions/single-page/new"}'
              >
                <svg
                  class="gem-c-single-page-notification-button__icon"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  height="18"
                  width="18"
                  viewBox="0 0 459.334 459.334"
                >
                  <path
                    fill="currentColor"
                    d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
                  ></path></svg
                ><span class="gem-c-single-page-notication-button__text"
                  >Get emails about this page</span
                >
              </button>
            </form>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                id="contents"
                class="app-c-contents-list-with-body"
                data-module="sticky-element-container"
                data-sticky-element-container-module-started="true"
              >
                <div class="responsive-bottom-margin">
                  <nav
                    data-module="gem-track-click ga4-link-tracker"
                    aria-label="Contents"
                    class="gem-c-contents-list"
                    role="navigation"
                    data-gem-track-click-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <h2 class="gem-c-contents-list__title">Contents</h2>
                    <ol class="gem-c-contents-list__list">
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          data-track-category="contentsClicked"
                          data-track-action="content_item 5"
                          data-track-label="#access-and-use-the-database"
                          data-track-options='{"dimension29":"Access and use the database"}'
                          data-ga4-link='{"event_name":"select_content","section":"Contents","type":"contents list","index_total":5,"index_link":5}'
                          href="#access-and-use-the-database"
                          >Access and use the database</a
                        >
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          data-track-category="contentsClicked"
                          data-track-action="content_item 6"
                          data-track-label="#export-your-data"
                          data-track-options='{"dimension29":"Export your data"}'
                          data-ga4-link='{"event_name":"select_content","section":"Contents","type":"contents list","index_total":5,"index_link":5}'
                          href="#export-your-data"
                          >Export your database</a
                        >
                      </li>
                      <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                      >
                        <span aria-hidden="true"></span>
                        <a
                          class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          data-track-category="contentsClicked"
                          data-track-action="content_item 7"
                          data-track-label="#turn-off-the-automation"
                          data-track-options='{"dimension29":"Turn off the automation"}'
                          data-ga4-link='{"event_name":"select_content","section":"Contents","type":"contents list","index_total":5,"index_link":5}'
                          href="#updating-your-exported-database"
                          >Updating your exported database</a
                        >
                      </li>
                    </ol>
                  </nav>
                </div>

                <div
                  class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6"
                >
                  <button
                    class="govuk-link govuk-body-s gem-c-print-link__button"
                    data-module="print-link"
                    data-print-link-module-started="true"
                  >
                    Print this page
                  </button>
                </div>

                <div
                  class="gem-c-govspeak govuk-govspeak"
                  data-module="govspeak ga4-link-tracker"
                  data-ga4-track-links-only=""
                  data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                  data-ga4-link='{"event_name":"navigation","type":"callout"}'
                  data-govspeak-module-started="true"
                  data-ga4-link-tracker-module-started="true"
                >
                  <div class="govspeak">

                    <p>
                      Working with your IT department, you should have been able to install the email automation.
                    </p>

                    <p>
                      Now you can find out how to access the email response database, export the data, and update it if you need to.
                    </p>
  
                    <div class="call-to-action">
                      <p>
                        Learn more <a href="introduction">about the automation</a>, including what it does and who can use it. 
                      </p>
                    </div>

                    <h2 id="access-and-use-the-database">Access and use the database</h2>

                    <p>
                      If you’ve successfully tested the automation and everything is working properly, you should now be able to use the database. 
                    </p>

                    <p>
                      To get started:
                    </p>

                    <ul>
                      <li>
                        go to your Sharepoint URL
                      </li>
                      <li>
                        select <strong>Settings</strong> – the gear icon – and then select Site contents 
                      </li>
                      <li>
                        there will be a folder called ‘Planning Consultation Emails’ –  select this folder to open it 
                      </li>
                      <li>
                        there will be a sub-folder with the name of the list you created during the set-up process. All emails are stored in this folder 
                      </li>
                      <li>
                        update the status of any downloaded email by selecting the individual row the email is on 
                      </li>
                      <li>
                        a new panel will appear with all the details of that specific email, and you can edit the status from this panel  
                      </li>
                    </ul>

                    <h2 id="export-your-data">Export your database</h2>

                    <p>
                      Once you've accessed your spreadsheet, you need to export it before you can use it.
                    </p>

                    <p>
                      To do this:
                    </p>

                    <ul>
                      <li>
                        go to your Sharepoint site and select <strong>Export</strong> at the top of the page
                      </li>
                      <li>
                        choose <strong>Export to Excel</strong> and download the file 
                      </li>
                      <li>
                        open your file in Excel 
                      </li>
                    </ul>

                    <p>
                      You’ll be able to see most of the email data, including the location in Sharepoint where the email is saved, but you will not be able to see any attachment data except the number of files that were attached.
                    </p>

                    <h2 id="updating-your-exported-database">Updating your exported database</h2>

                    <p>
                      Even after you've exported the database, you can still pull new emails through to it by following these steps:
                    </p>

                    <ul>
                      <li>
                        open your downloaded Excel spreadsheet
                      </li>
                      <li>
                        select the <strong>Data</strong> tab at the top of the Excel spreadsheet
                      </li>
                      <li>
                        select <strong>Refresh all</strong>. This will bring any new emails that are in the database through to your Excel spreadsheet
                      </li>
                      <li>
                        select <strong>Save</strong> once you’ve done this so you do not lose any data
                      </li>
                    </ul>



                  </div>
                </div>

                <div
                  class="app-c-published-dates govuk-!-margin-bottom-5"
                  lang="en"
                >
                  Published 23 August 2013
                </div>

                <div class="published-dates-button-group">
                  <div
                    data-module="gem-track-click ga4-link-tracker"
                    class="govuk-!-display-none-print govuk-!-margin-bottom-3"
                    data-gem-track-click-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <form
                      class="gem-c-single-page-notification-button"
                      action="/email/subscriptions/single-page/new"
                      method="POST"
                      data-track-label="/guidance/what-to-consider-when-engaging-on-your-local-plan"
                      data-track-action="Subscribe-button-bottom"
                      data-track-category="Single-page-notification-button"
                      data-button-location="bottom"
                      data-button-text-subscribe="Get emails about this page"
                      data-button-text-unsubscribe="Stop getting emails about this page"
                    >
                      <input
                        type="hidden"
                        name="base_path"
                        value="/guidance/what-to-consider-when-engaging-on-your-local-plan"
                      />
                      <button
                        class="govuk-body-s gem-c-single-page-notification-button__submit"
                        type="submit"
                        data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":2,"index_total":2,"section":"Footer","url":"/email/subscriptions/single-page/new"}'
                      >
                        <svg
                          class="gem-c-single-page-notification-button__icon"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          height="18"
                          width="18"
                          viewBox="0 0 459.334 459.334"
                        >
                          <path
                            fill="currentColor"
                            d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
                          ></path></svg
                        ><span class="gem-c-single-page-notication-button__text"
                          >Get emails about this page</span
                        >
                      </button>
                    </form>
                  </div>

                  <div
                    class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-8"
                  >
                    <button
                      class="govuk-link govuk-body-s gem-c-print-link__button"
                      data-module="print-link"
                      data-print-link-module-started="true"
                    >
                      Print this page
                    </button>
                  </div>
                </div>

                <div
                  data-sticky-element=""
                  class="app-c-contents-list-with-body__link-wrapper sticky-element--hidden sticky-element--stuck-to-window sticky-element--enabled"
                >
                  <div class="app-c-contents-list-with-body__link-container">
                    <a
                      class="govuk-link app-c-back-to-top dont-print"
                      href="#contents"
                    >
                      <svg
                        class="app-c-back-to-top__icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="17"
                        viewBox="0 0 13 17"
                        aria-hidden="true"
                        focusable="false"
                      >
                        <path
                          fill="currentColor"
                          d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"
                        ></path>
                      </svg>
                      Contents
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="gem-c-contextual-sidebar"></div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="gem-c-contextual-footer"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

{% endblock %}
