{% extends "layouts/main.html" %} {% set pageName=" How to present your policies map" %} {% block content %}

<script src="/public/javascripts/contents-sticky.js"></script>
<link rel="stylesheet" href="/public/css/contents.css" />

<div class="govuk-grid-row draft">
  <div class="govuk-grid-column-full">
    <div id="body" class="gem-c-layout-for-public govuk-template__body js-enabled">
      <div id="wrapper" class="direction-ltr govuk-width-container">
        <div class="gem-c-contextual-breadcrumbs">
          <div data-module="gem-track-click ga4-link-tracker"
            class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile"
            data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label=""
                  data-track-options="{}"
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"1","index_total":"4"}'
                  class="govuk-breadcrumbs__link" href="#">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a data-track-category="breadcrumbClicked" data-track-action="2"
                  data-track-label="/housing-local-and-community"
                  data-track-options='{"dimension28":"4","dimension29":"Housing, local and community"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"2","index_total":"4"}'
                  class="govuk-breadcrumbs__link" href="#">Housing, local and community</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a data-track-category="breadcrumbClicked" data-track-action="3"
                  data-track-label="/housing-local-and-community/planning-and-building"
                  data-track-options='{"dimension28":"4","dimension29":"Planning and building"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"3","index_total":"4"}'
                  class="govuk-breadcrumbs__link" href="#">Planning and building</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a data-track-category="breadcrumbClicked" data-track-action="4"
                  data-track-label="/housing-local-and-community/local-plans"
                  data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                  class="govuk-breadcrumbs__link" href="#">Local plans</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a data-track-category="breadcrumbClicked" data-track-action="4"
                  data-track-label="/housing-local-and-community/local-plans"
                  data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                  class="govuk-breadcrumbs__link" href="#">Local plans</a>
              </li>
            </ol>
          </div>
        </div>

        <main role="main" id="content" class="detailed-guide" lang="en">
          <span id="Top"></span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
                <span class="govuk-caption-xl gem-c-title__context">
                  Guidance
                </span>

                <h1 class="gem-c-title__text govuk-heading-l">
                  How to present your policies map
                </h1>
              </div>
            </div>

            <div class="govuk-grid-column-two-thirds">
              <p class="gem-c-lead-paragraph">
                Recommended standards for local plan policies maps including how to categorise policies, what themes to
                use, and what visual elements to apply.
              </p>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="metadata-logo-wrapper">
              <div class="govuk-grid-column-two-thirds metadata-column">
                <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true"
                  data-metadata-module-started="true">
                  <dl class="gem-c-metadata__list" data-module="gem-track-click"
                    data-gem-track-click-module-started="true">
                    <dt class="gem-c-metadata__term">From:</dt>
                    <dd class="gem-c-metadata__definition">
                      <a class="govuk-link" href="#">Ministry of Housing,
                        Communities &
                        Local Government
                      </a>
                    </dd>
                    <dt class="gem-c-metadata__term">Published</dt>
                    <dd class="gem-c-metadata__definition">23 August 2024</dd>
                  </dl>
                </div>
              </div>
              <div class="govuk-grid-column-one-third"></div>
            </div>
          </div>

          <div data-module="gem-track-click ga4-link-tracker" class="govuk-!-display-none-print govuk-!-margin-bottom-6"
            data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
            <form class="gem-c-single-page-notification-button" action="#" method="POST"
              data-track-label="/guidance/what-to-consider-when-engaging-on-your-local-plan"
              data-track-action="Subscribe-button-top" data-track-category="Single-page-notification-button"
              data-button-location="top" data-button-text-subscribe="Get emails about this page"
              data-button-text-unsubscribe="Stop getting emails about this page">
              <input type="hidden" name="base_path"
                value="/guidance/what-to-consider-when-engaging-on-your-local-plan" />
              <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit"
                data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":1,"index_total":2,"section":"Top","url":"#"}'>
                <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334">
                  <path fill="currentColor"
                    d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z">
                  </path>
                </svg><span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
              </button>
            </form>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container"
                data-sticky-element-container-module-started="true">
                <div class="responsive-bottom-margin">
                  <nav data-module="gem-track-click ga4-link-tracker" aria-label="Contents" class="gem-c-contents-list"
                    role="navigation" data-gem-track-click-module-started="true"
                    data-ga4-link-tracker-module-started="true">
                    <h2 class="gem-c-contents-list__title">Contents</h2>
                    <ol class="gem-c-contents-list__list">
                      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <span aria-hidden="true"></span>
                        <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#local-plans-must-include-policies-maps">Local plans must be accompanied by a policies
                          map</a>
                      </li>
                      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <span aria-hidden="true"></span>
                        <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#basemaps">Basemaps</a>
                      </li>
                      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <span aria-hidden="true"></span>
                        <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#policy-categories">Policy categories</a>
                      </li>
                      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <span aria-hidden="true"></span>
                        <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#policy-themes">Policy themes</a>
                      </li>
                      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <span aria-hidden="true"></span>
                        <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#setting-up-your-map-to-help-users-navigate-it">Setting up your map to help users
                          navigate it
                        </a>
                      </li>
                      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <span aria-hidden="true"></span>
                        <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                          href="#accessibility">Accessibility</a>
                      </li>
                      <!--<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <span aria-hidden="true"></span>
                        <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#implementing-the-standards">Implementing the standards</a>
                      </li>-->
                    </ol>
                  </nav>
                </div>

                <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
                  <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link"
                    data-print-link-module-started="true">
                    Print this page
                  </button>
                </div>

                <div class="gem-c-govspeak govuk-govspeak" data-module="govspeak ga4-link-tracker"
                  data-ga4-track-links-only=""
                  data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                  data-ga4-link='{"event_name":"navigation","type":"callout"}' data-govspeak-module-started="true"
                  data-ga4-link-tracker-module-started="true">
                  <div class="govspeak">

                    <h2 id="local-plans-must-include-policies-maps">
                      Local plans must be accompanied by a policies map
                    </h2>

                    <p>
                      Local plans must be accompanied by a policies map, which shows how all of a local planning
                      authority’s (LPA’s) development policies apply to different geographical areas.
                    </p>

                    <h3>Recommended visual standards</h3>

                    <p>
                      This page sets out visual standards that we recommend LPAs follow when creating policies maps.
                    </p>

                    <p>
                      It’s aimed at those creating the maps - which may be planners, GIS specialists or people working
                      for mapping software companies. We’ve created them through research and testing with LPAs and
                      property technology suppliers.
                    </p>

                    <p>
                      If all LPAs follow a consistent, tested format for policies maps, this will mean:
                    </p>

                    <ul>
                      <li>
                        maps are quicker and easier to produce, and there’s less duplication of effort by LPAs each
                        creating their own style and format
                      </li>
                      <li>
                        maps are easier to understand and are more accessible for people viewing them
                      </li>
                      <li>
                        it’s easier to compare maps from different authorities
                      </li>
                      <li>
                        it’s moving towards creating a clear national view of planning policies
                      </li>

                    </ul>

                    <div class="call-to-action">
                      <h4 class="govuk-heading">
                        About these recommendations
                      </h4>
                      <p>
                        These standards are not required - they are recommendations. If they do not work for your LPA,
                        or do not cover something you need to show on your map, you can still ultimately decide how to
                        present your map.
                      </p>
                      <p>
                        We welcome your feedback on these recommendations – particularly on how they work in practice
                        for you. You can leave feedback at the bottom of the page.
                      </p>
                      <p>
                        Standards for policies maps may be mandated in future as part of future planning reforms. We’ll
                        update this page when more information is available.
                      </p>
                    </div>

                    <p>
                      The standards relate to types of policies included within local plans - they do not specifically cover other policies which may be included in the development plan for an area, for example, minerals and waste policies. However, those creating policies maps that illustrate these other types of policies can choose to follow any elements which they find to be relevant. 
                    </p>

                    <h2 id="basemaps">
                      Basemaps
                    </h2>

                    <p>
                      Choose from the 2 options below to set as your default basemap. This is the map that users will
                      see first as they open your map.
                    </p>

                    <p>
                      A basemap should be an effective backdrop for your data. These 2 basemap styles are generally
                      easiest for your users to see your policies when they’re layered on top, due to their visual
                      simplicity and monochrome colour schemes.
                    </p>

                    <p>
                      Both default map options we recommend below are Ordnance Survey (OS) maps. This is in line with
                      the requirement in law for adopted policies maps to be “comprised of, or contain, a map which must
                      be reproduced from, or based on, an Ordnance Survey map”.
                    </p>

                    <p>
                      This is set out in <a href="https://www.legislation.gov.uk/uksi/2012/767/regulation/9">regulation
                        9(1)(a) of the Town and Country Planning (Local Planning) (England) Regulations 2012/767</a>
                      (“the 2012 Regulations”). “Ordnance Survey map” is defined in <a
                        href="https://www.legislation.gov.uk/uksi/2012/767/regulation/2">Regulation 2</a>.
                    </p>

                    <p>
                      In preparing your policies map, you must satisfy yourself that you are complying with the
                      requirements of regulation 9.
                    </p>

                    <h3>
                      Default option 1: OS Open Greyscale with Labels
                    </h3>

                    <p>
                      A greyscale street view is a familiar view to most users. The street names help users understand
                      and navigate the map. Generally speaking, the light grey colour means it’s clear to see coloured
                      layers added on top.
                    </p>

                    <p>
                      We’d recommend using the Ordnance Survey (OS) Open Greyscale with Labels map, available through
                      the <a href="https://www.ordnancesurvey.co.uk/products/os-maps-api">OS Maps API</a>.
                    </p>

                    <p>
                      If this is not available to you, you can use a similar light grey map with street names - aim to
                      use one that looks as close as possible to the screenshot below.
                    </p>

                    <img src="/public/images/visualisations/basemap-mastermap-mono.jpg" alt="Greyscale map">

                    <h3>
                      Default option 2: OS MasterMap Topography Layer
                    </h3>

                    <p>
                      Shows a more detailed view that includes land boundaries. This type of map is particularly useful
                      for developers as they can see exactly how policies apply to individual sites.
                    </p>

                    <p>
                      Generally speaking, the black and white colours mean it’s clear to see coloured layers added on
                      top of the map.
                    </p>

                    <p>
                      We recommend using the OS MasterMap Topography Layer, available through the <a
                        href="https://www.ordnancesurvey.co.uk/products/os-maps-api">OS Maps API</a>.
                    </p>

                    <img src="/public/images/visualisations/basemap-greyscale-with-labels.png" alt="Mastermap mono">

                    <h3>
                      If you want to make more options available
                    </h3>

                    <p>
                      If you’re using an interactive map you may have many basemap options available to you. While you
                      should use either of the maps above as the default, you’re welcome to give your users more options
                      to choose from - this can help them find a map that best fits their preferences.
                    </p>

                    <p>
                      However, we recommend thinking carefully about what options to keep, and then removing the others.
                      This is so your map does not overwhelm your users with too many choices.
                    </p>

                    <h4>
                      Recommended additional option: aerial photography
                    </h4>

                    <p>
                      This can bring the map to life and help users understand the detail of the landscape.
                    </p>

                    <p>
                      Aerial photography should not be a replacement for the greyscale street view or mastermap. This is
                      because it can be harder to see layers on top, due to the level of detail and different colours.
                    </p>

                    <p>
                      There are other issues to be aware of when using aerial photography:
                    </p>

                    <ul>
                      <li>
                        it’s not suitable for physical maps because of the amount of ink you need to use when printing
                        and photocopying it
                      </li>
                      <li>
                        it’s not always up-to-date
                      </li>
                    </ul>

                    <img src="/public/images/visualisations/basemap-satellite.png" alt="Aerial photography map">

                    <h2 id="policy-categories">
                      Policy categories
                    </h2>

                    <p>
                      We recommend grouping your policies into 3 different categories and using different symbology to show each category on your map. Below are the categories we recommend you use and how to show each one. 
                    </p>

                    <p>
                      If you can, we recommend including the description as well as the category name so that everyone can understand what the categories mean.  
                    </p>

                    <h3>
                      Site allocations
                    </h3>

                    <p>
                      <strong>Description:</strong> land identified and designated for development for a particular use, for example, housing and employment. 
                    </p>

                    <p>
                      <strong>How to show them:</strong> Use diagonal hatching with a minimum border width of 2 pixels to show site allocations on the map. The colour to use will depend on the policy theme, which we’ll set out later. 
                    </p>

                    <img src="/public/images/visualisations/hatching-annotated-24.png" alt="">

                    <h3>
                      Broader area-based policies
                    </h3>

                    <p>
                      <strong>Description:</strong> policies based around a broad geographical area or policy theme. For example, a primary shopping area. 
                    </p>

                    <p>
                      <strong>How to show them:</strong> Use a colour fill at 80% transparency with a minimum border width of 2 pixels to show broader area-based policies on the map. The colour to use will depend on the policy theme, which we’ll set out later. 
                    </p>

                    <img src="/public/images/visualisations/transparency-annotated-24.png" alt="">

                    <h3>
                      Authority-wide policies
                    </h3>

                    <p>
                      <strong>Description:</strong> policies that apply to the whole plan area, for example, affordable housing and housing mix policies. 
                    </p>

                    <p>
                      <strong>How to show them:</strong> You need to include a reference to these on the map, so that users can find all the policies that may apply to a site. You can choose how to do this. An example might be a text box that includes a list of all authority-wide policies, and an explanation that they apply to the whole area. 
                    </p>

                    <h2 id="policy-themes">
                      Policy themes
                    </h2>

                    <p>
                      We recommend that you group your policies into the following 8 themes and allocate the relevant colour to each theme.  
                    </p>

                    <p>
                      You might not need to use all 8 themes if you do not have policies that fit each one.  
                    </p>

                    <img src="/public/images/visualisations/colour-swatches-text-below.svg" alt="User icon">

                    <p>
                      Below we’ve set out the codes for each theme, as well as some examples of which types of policies you could put into each theme.  
                    </p>

                    <div class="call-to-action">
                      <h4 class="govuk-heading">
                        You do not need to have the exact policies we’ve given as examples.
                      </h4>
                      <p>
                        We’ve provided the examples to help you understand what we mean by each theme, and to help you map your policies to them. You do not need to use all these themes or have these policies - use your judgement to name your policies whatever works best for your plan and group them in ways that make the most sense. 
                      </p>
                    </div>

                    <h3>
                      Housing
                    </h3>

                    <p>Colours:</p>

                    <ul>
                      <li>Hex code #c44200</li>
                      <li>RGB (196, 66, 0)</li>
                    </ul>

                    <p>Examples of policies to group under this theme:</p>

                    <ul>
                      <li>
                        Housing-led developments
                      </li>
                      <li>
                        Housing density and mix
                      </li>
                      <li>
                        Housing need
                      </li>
                      <li>
                        Affordable housing
                      </li>
                    </ul>

                    <h3>
                      Economy
                    </h3>

                    <p>Colours:</p>

                    <ul>
                      <li>Hex code #330165</li>
                      <li>RGB (51, 1, 101)</li>
                    </ul>

                    <p>Examples of policies to group under this theme:</p>

                    <ul>
                      <li>
                        Retaining land for employment uses
                      </li>
                      <li>
                        Employment land supply
                      </li>
                      <li>
                        Retail centre hierarchy 
                      </li>
                      <li>
                        Industrial or storage and distribution 
                      </li>
                    </ul>

                    <h3>
                      Mixed-use development and regeneration
                    </h3>

                    <p>Colours:</p>

                    <ul>
                      <li>Hex code #007A7A</li>
                      <li>RGB (0, 122, 122)</li>
                    </ul>

                    <p>Examples of policies to group under this theme:</p>

                    <ul>
                      <li>
                        Mixed-use developments
                      </li>
                      <li>
                        Growth zones or areas of opportunity
                      </li>
                      <li>
                        Strategic regeneration areas
                      </li>
                      <li>
                        New settlements or major urban extensions
                      </li>
                    </ul>

                    <p>
                      This is intended to cover areas of change with a variety of uses, like Kings Cross or Plymouth waterfront.  
                    </p>

                    <p>
                      If a site allocation or development includes a mix of uses, you could choose to group that under the theme for the predominant use. For example, you could put commercial-led mixed-use developments in the ‘Economy’ theme.  
                    </p>

                    <h3>
                      Heritage and built design
                    </h3>

                    <p>Colours:</p>

                    <ul>
                      <li>Hex code #CD2380</li>
                      <li>RGB (205, 35, 128)</li>
                    </ul>

                    <p>Examples of policies to group under this theme:</p>

                    <ul>
                      <li>
                        Historic environment
                      </li>
                      <li>
                        Design (you could point to a supplementary planning document or design code if they set out
                        useful further detail)
                      </li>
                      <li>
                        Tall buildings
                      </li>
                    </ul>

                    <h3>
                      Natural environment and open land
                    </h3>

                    <p>Colours:</p>

                    <ul>
                      <li>Hex code #217E01</li>
                      <li>RGB (33, 126, 1)</li>
                    </ul>

                    <p>Examples of policies to group under this theme:</p>

                    <ul>
                      <li>Flood risk</li>
                      <li>Biodiversity</li>
                      <li>
                        Conservation and landscape
                      </li>
                      <li>Protection of species and habitats </li>
                      <li>Green belt</li>
                      <li>National Landscapes </li>
                    </ul>

                    <h3>
                      Culture, leisure and tourism
                    </h3>

                    <p>Colours:</p>

                    <ul>
                      <li>Hex code #6C003B</li>
                      <li>RGB (108, 0, 59)</li>
                    </ul>

                    <p>Examples of policies to group under this theme:</p>

                    <ul>
                      <li>
                        Tourism development  
                      </li>
                      <li>
                        Art and culture and tourism 
                      </li>
                      <li>
                        Sports and recreation 
                      </li>
                    </ul>

                    <h3>
                      Community services, health and wellbeing  
                    </h3>

                    <p>Colours:</p>

                    <ul>
                      <li>Hex code #2A72B2</li>
                      <li>RGB (42, 114, 178)</li>
                    </ul>

                    <p>Examples of policies to group under this theme:</p>

                    <ul>
                      <li>Health and wellbeing</li>
                      <li>Community facilities and assets</li>
                      <li>
                        Community services, health and wellbeing  
                      </li>
                    </ul>

                    <h3>
                      Transport and infrastructure
                    </h3>

                    <p>Colours:</p>

                    <ul>
                      <li>Hex code #001B4D</li>
                      <li>RGB (0, 27, 77)</li>
                    </ul>

                    <p>Examples of policies to group under this theme:</p>

                    <ul>
                      <li>
                        Sustainable travel or transport management 
                      </li>
                      <li>
                        Blue and green infrastructure
                      </li>
                      <li>
                        Climate change and renewable energy
                      </li>
                      <li>
                        Minerals and waste
                      </li>
                    </ul>


                    <h2 id="setting-up-your-map-to-help-users-navigate-it">
                      Setting up your map to help users navigate it
                    </h2>

                    <p>
                      You must have a version of the policies map that shows all the policies that illustrate the development plan in one place. However, showing all policies on the map at once is often visually overwhelming for users and means it’s hard to focus on the areas they’re most interested in.  
                    </p>

                    <p>
                      Ideally, you would let users filter on an interactive map. We recommend you:
                    </p>

                    <ul>
                      <li>
                        set up every policy as a separate layer so your users can choose to show or hide them
                      </li>
                      <li>
                        show more detailed information about each polygon when a user clicks on it
                      </li>
                    </ul>

                    <p>
                      These steps will help users distinguish between different policies that are shown using the same colour. 
                    </p>

                    <p>
                      Or, you could have additional versions of the map that show different policies.  
                    </p>

                    <h2 id="accessibility">
                      Accessibility
                    </h2>

                    <p>
                      You need to make your map as accessible as possible so that disabled people and people with other access needs can get the information they’re entitled to. You need to be comfortable that you’re compliant with your legal obligations around accessibility as set out in the <a
                        href="https://www.legislation.gov.uk/ukpga/2010/15/contents">Equality Act 2010</a>.
                    </p>

                    <p>
                      Here are some non-exhaustive examples of what you could do.
                    </p>

                    <h3>
                      Keep colour accessibility in mind
                    </h3>

                    <p>
                      Each colour we’ve chosen contrasts well enough with the grayscale basemap above with no transparency applied (for example, the borders of all areas). This means they contrast well enough with the background map to be distinguishable. This meets the colour contrast ratio recommended by the <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines</a>.
                    </p>

                    <p>
                      The colours chosen also contrast well enough when placed alongside each other in pairs. Bear in mind that the colours will get less accessible when you place multiple colours alongside each other or overlap them. 
                    </p>

                    <p>
                      If you need to add any other coloured elements to your map, we recommend running it through a colour contrast checker to check it stands out against your basemap. 
                    </p>

                    <h3>
                      Give users options for how to display the map
                    </h3>

                    <p>
                      If you’re using an interactive map, you could:
                    </p>

                    <ul>
                      <li>
                        let users select only the layers they want to see
                      </li>
                      <li>
                        let users select the basemap they want to use
                      </li>
                      <li>
                        check how well your map works with assistive technologies and accessibility software, like
                        screenreaders and tools that let users change the text size or colours
                      </li>
                      <li>
                        make your attribute data downloadable as well as available on the map itself
                      </li>
                    </ul>

                    <h3>
                      Have alternative formats available
                    </h3>

                    <p>
                      The policies map should not be the only way that people can learn about your policies - it should
                      illustrate policy information which is also set out in your local plan.
                    </p>

                    <p>
                      For the map itself, make it available in multiple formats.
                    </p>

                    <p>
                      For example, not everyone will be able to use an interactive map. You must not exclude anyone
                      because of this. You could also make available:
                    </p>

                    <ul>
                      <li>
                        a static version of the map, like a downloadable image or PDF, for those who cannot use
                        interactive online software
                      </li>
                      <li>
                        a way of seeing the map for those who cannot access the internet independently
                      </li>
                    </ul>

                    <p>
                      Likewise, not everyone will be able to use a static map - particularly those who are visually
                      impaired.
                    </p>

                  </div>
                </div>

                <div class="app-c-published-dates govuk-!-margin-bottom-5" lang="en">
                  Published 23 August 2024
                </div>

                <div class="published-dates-button-group">
                  <div data-module="gem-track-click ga4-link-tracker"
                    class="govuk-!-display-none-print govuk-!-margin-bottom-3"
                    data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                    <form class="gem-c-single-page-notification-button" action="#" method="POST"
                      data-track-label="/guidance/what-to-consider-when-engaging-on-your-local-plan"
                      data-track-action="Subscribe-button-bottom" data-track-category="Single-page-notification-button"
                      data-button-location="bottom" data-button-text-subscribe="Get emails about this page"
                      data-button-text-unsubscribe="Stop getting emails about this page">
                      <input type="hidden" name="base_path"
                        value="/guidance/what-to-consider-when-engaging-on-your-local-plan" />
                      <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit"
                        data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":2,"index_total":2,"section":"Footer","url":"#"}'>
                        <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334">
                          <path fill="currentColor"
                            d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z">
                          </path>
                        </svg><span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
                      </button>
                    </form>
                  </div>

                  <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-8">
                    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link"
                      data-print-link-module-started="true">
                      Print this page
                    </button>
                  </div>
                </div>

                <div data-sticky-element=""
                  class="app-c-contents-list-with-body__link-wrapper sticky-element--hidden sticky-element--stuck-to-window sticky-element--enabled">
                  <div class="app-c-contents-list-with-body__link-container">
                    <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
                      <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
                        viewBox="0 0 13 17" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                      </svg>
                      Contents
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="gem-c-contextual-sidebar"></div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="gem-c-contextual-footer"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

{% endblock %}