{% extends "layouts/main.html" %} {% set pageName="Home" %} {% block content %}

<div class="govuk-grid-row draft">
  <div class="govuk-grid-column-full">
    <div
      id="body"
      class="gem-c-layout-for-public govuk-template__body js-enabled"
    >
      <div id="wrapper" class="direction-ltr govuk-width-container">
        <div class="gem-c-contextual-breadcrumbs">
          <div
            data-module="gem-track-click ga4-link-tracker"
            class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a
                data-track-category="homeLinkClicked"
                data-track-action="homeBreadcrumb"
                data-track-label=""
                data-track-options="{}"
                data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"1","index_total":"4"}'
                class="govuk-breadcrumbs__link"
                href="/"
                >Home</a
              >
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a
                data-track-category="breadcrumbClicked"
                data-track-action="2"
                data-track-label="/housing-local-and-community"
                data-track-options='{"dimension28":"4","dimension29":"Housing, local and community"}'
                data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"2","index_total":"4"}'
                class="govuk-breadcrumbs__link"
                href="/housing-local-and-community"
                >Housing, local and community</a
              >
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a
                data-track-category="breadcrumbClicked"
                data-track-action="3"
                data-track-label="/housing-local-and-community/planning-and-building"
                data-track-options='{"dimension28":"4","dimension29":"Planning and building"}'
                data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"3","index_total":"4"}'
                class="govuk-breadcrumbs__link"
                href="/housing-local-and-community/planning-and-building"
                >Planning and building</a
              >
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a
                data-track-category="breadcrumbClicked"
                data-track-action="4"
                data-track-label="/housing-local-and-community/local-plans"
                data-track-options='{"dimension28":"4","dimension29":"Local Plans"}'
                data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"4","index_total":"4"}'
                class="govuk-breadcrumbs__link"
                href="/housing-local-and-community/local-plans"
                >Local Plans</a
              >
            </li>
          </ol>
          </div>
        </div>

        <main role="main" id="content" class="news-article" lang="en">
          <span id="Top"></span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8"
              >
                <span class="govuk-caption-xl gem-c-title__context">
                  News story
                </span>

                <h1 class="gem-c-title__text govuk-heading-l">
                  30-month process to launch for creating local plans
                </h1>
              </div>
            </div>

            <div class="govuk-grid-column-two-thirds">
              <p class="gem-c-lead-paragraph">
                New approach focuses on reducing the time it takes to create and
                update plans
              </p>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="metadata-logo-wrapper">
              <div class="govuk-grid-column-two-thirds metadata-column">
                <div
                  class="gem-c-metadata"
                  data-module="gem-toggle metadata"
                  data-gem-toggle-module-started="true"
                  data-metadata-module-started="true"
                >
                  <dl
                    class="gem-c-metadata__list"
                    data-module="gem-track-click"
                    data-gem-track-click-module-started="true"
                  >
                    <dt class="gem-c-metadata__term">From:</dt>
                    <dd class="gem-c-metadata__definition">
                      <a
                        class="govuk-link"
                        href="/government/organisations/department-for-levelling-up-housing-and-communities"
                        >Department for Levelling Up, Housing and Communities
                      </a>
                    </dd>
                    <dt class="gem-c-metadata__term">Published</dt>
                    <dd class="gem-c-metadata__definition">18 December 2023</dd>
                  </dl>
                </div>
              </div>
              <div class="govuk-grid-column-one-third"></div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="content-bottom-margin">
                <div class="responsive-bottom-margin">
                  <figure class="app-c-figure" lang="en">
                    <img
                      class="app-c-figure__image"
                      src="https://assets.integration.publishing.service.gov.uk/media/6156c35c8fa8f52985dd7453/s300_2_Marsham_Street_960x640.jpg"
                      alt=""
                    />
                    <figcaption class="app-c-figure__figcaption"></figcaption>
                  </figure>

                  <div
                    class="gem-c-govspeak govuk-govspeak direction-ltr"
                    data-module="govspeak ga4-link-tracker"
                    data-ga4-track-links-only=""
                    data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                    data-ga4-link='{"event_name":"navigation","type":"callout"}'
                    data-govspeak-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <div class="govspeak">
                      <p>
                        We have set out a new approach for local plan making,
                        which revolves around a 30-month process from starting
                        to launching a local plan.
                      </p>

                      <p>
                        The new process has been created after extensive
                        consultation and feedback from everyone involved in the
                        process. It reflects the need of communities to have
                        more structured involvement in the creation of a local
                        plan, and for that plan to be published sooner.&nbsp;
                      </p>

                      <p>
                        The new 30-month process will come into effect from
                        November 2024.
                      </p>

                      <p>
                        We have also published extensive information to support
                        this new policy. It collates the different stages of
                        this new process, giving plan makers one place to learn
                        more and get support.
                      </p>

                      <h3 id="what-you-need-to-know">What you need to know</h3>

                      <p>New information on the process includes:</p>

                      <ul>
                        <li>
                          <p>
                            information on how plan-making can be done in 30
                            months
                          </p>
                        </li>
                        <li>
                          <p>
                            resources and templates to help standardise parts of
                            the process
                          </p>
                        </li>
                        <li>
                          <p>
                            explanation of ‘gateway’ checkpoints for validating
                            plans
                          </p>
                        </li>
                      </ul>

                      <h3 id="where-to-learn-more">Where to learn more</h3>

                      <p>
                        You can read a summary of the new timeline in the
                        <a href="" class="govuk-link"
                          >30-month process explained</a
                        >.
                      </p>

                      <p>
                        It sets out how the process breaks down, and includes
                        what plan makers are expected to do at each stage.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="dont-print responsive-bottom-margin">
                  <div
                    class="gem-c-share-links govuk-!-display-none-print"
                    data-module="gem-track-click ga4-link-tracker"
                    data-gem-track-click-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <h2 class="govuk-heading-s">Share this page</h2>
                    <p class="govuk-body-s">
                      The following links open in a new tab
                    </p>
                    <ul class="gem-c-share-links__list">
                      <li class="gem-c-share-links__list-item">
                        <a
                          target="_blank"
                          rel="noopener noreferrer external"
                          data-track-category="social media"
                          data-track-action="facebook"
                          data-track-options='{"socialAction":"share","socialNetwork":"facebook","socialTarget":"https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.integration.publishing.service.gov.uk%2Fgovernment%2Fnews%2F30-month-process-to-launch-for-creating-local-plans"}'
                          data-ga4-link='{"event_name":"navigation","type":"share page","index_link":1,"index_total":2,"text":"facebook"}'
                          class="govuk-link govuk-link--no-underline gem-c-share-links__link"
                          href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.integration.publishing.service.gov.uk%2Fgovernment%2Fnews%2F30-month-process-to-launch-for-creating-local-plans"
                        >
                          <span class="gem-c-share-links__link-icon">
                            <svg
                              viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg"
                              aria-hidden="true"
                              focusable="false"
                              width="0"
                              height="0"
                              class="gem-c-share-links__svg"
                            >
                              <path
                                fill="currentColor"
                                d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"
                              ></path>
                            </svg>
                          </span>
                          <span class="govuk-visually-hidden"> Share on </span>
                          Facebook
                          <span class="govuk-visually-hidden">
                            (opens in new tab)
                          </span>
                        </a>
                      </li>
                      <li class="gem-c-share-links__list-item">
                        <a
                          target="_blank"
                          rel="noopener noreferrer external"
                          data-track-category="social media"
                          data-track-action="twitter"
                          data-track-options='{"socialAction":"share","socialNetwork":"twitter","socialTarget":"https://twitter.com/share?url=https%3A%2F%2Fwww.integration.publishing.service.gov.uk%2Fgovernment%2Fnews%2F30-month-process-to-launch-for-creating-local-plans\u0026text=30-month%20process%20to%20launch%20for%20creating%20local%20plans"}'
                          data-ga4-link='{"event_name":"navigation","type":"share page","index_link":2,"index_total":2,"text":"twitter"}'
                          class="govuk-link govuk-link--no-underline gem-c-share-links__link"
                          href="https://twitter.com/share?url=https%3A%2F%2Fwww.integration.publishing.service.gov.uk%2Fgovernment%2Fnews%2F30-month-process-to-launch-for-creating-local-plans&amp;text=30-month%20process%20to%20launch%20for%20creating%20local%20plans"
                        >
                          <span class="gem-c-share-links__link-icon">
                            <svg
                              viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg"
                              aria-hidden="true"
                              focusable="false"
                              width="0"
                              height="0"
                              class="gem-c-share-links__svg"
                            >
                              <path
                                fill="currentColor"
                                d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
                              ></path>
                            </svg>
                          </span>
                          <span class="govuk-visually-hidden"> Share on </span>
                          Twitter
                          <span class="govuk-visually-hidden">
                            (opens in new tab)
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="app-c-published-dates" lang="en">
                  Published 18 December 2023
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="gem-c-contextual-sidebar"></div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="gem-c-contextual-footer"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

<script>
  const fullHistory = document.getElementById("full-history");
  const showAllUpdates = document.getElementById("show-all-updates");

  const updateVisibility = (visible) => {
    visible
      ? fullHistory.classList.remove("js-hidden")
      : fullHistory.classList.add("js-hidden");
    showAllUpdates.textContent = visible
      ? "- hide all updates"
      : "+ show all updates";
    showAllUpdates.ariaExpanded = visible;
  };

  const toggleVisibility = () => {
    updateVisibility(fullHistory.classList.contains("js-hidden"));
  };

  const seeAllUpdates = document.getElementById("see-all-updates");
  seeAllUpdates.onclick = () => {
    event.preventDefault();
    updateVisibility(true);
    document.getElementById("full-publication-update-history").scrollIntoView();
  };

  showAllUpdates.onclick = (event) => {
    event.preventDefault();
    toggleVisibility();
  };
</script>
{% endblock %}
