{% extends "layouts/main.html" %} {% set pageName="Page not found" %} {% block
content %}

<style>
  .not-found-container {
    padding-top: 50px;
  }
</style>

<div class="govuk-grid-row not-found-container">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">
      There is no page at
      <strong id="pathname">{{ path }}</strong>
    </p>
    <p class="govuk-body">
      This is application is for local plans draft content. You can go to
      <a
        href="/government/collections/create-or-update-a-local-plan"
        class="govuk-link"
        >Create or update a local plan</a
      >
      to see the main collection.
    </p>
  </div>
</div>

{% endblock %}
