{% extends "layouts/main.html" %}

{% block pageTitle %}
  Design history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<script src="/public/javascripts/contents-sticky.js"></script>
<link rel="stylesheet" href="/public/css/contents.css" />

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Create or update a local plan</h1>

        <h2 class="govuk-heading-l">
          Create or update a local plan - April to present
        </h2>

        <h3 class="govuk-heading-m">
          Sites
        </h3>

        <h3 class="govuk-heading-m">
          Local plans policies maps
        </h3>

        <h3 class="govuk-heading-m">
          MS365
        </h3>

        <p>June 2024: we completed a round of user research to  </p>

        <h2 class="govuk-heading-l">
          Local Plans Home - January to March 2024
        </h2>

        <p>
          During the Local Plans Home alpha (SOW 25), from January to end of March 2024 (10 weeks), a multidisciplinary team designed, created and researched a prototype with LPA planning officers. The research was split into two phases: tree testing and concept/usability testing. The name chosen to test with users was “Create or update a local plan”.
        </p>

        <p>
          Due to project timelines, we tested the concept of "Create or update a local plan" with our users through mocked up content in Figma. We used existing pages in Whitehall as models of what was possible, as well as referring to documentation where needed. 
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://www.figma.com/file/YPjDn2uZM0bN7JYXLutDv1/DLUHC-Local-Plans-(SOW25)?type=design&node-id=4068%3A2010&mode=design&t=4BAkk3SMiljTO6qi-1">Figma designs link</a>
          </li>
          <li>
            <a href="https://www.figma.com/proto/YPjDn2uZM0bN7JYXLutDv1/DLUHC-Local-Plans-SOW25?type=design&node-id=4068-2010&t=4BAkk3SMiljTO6qi-0&scaling=min-zoom&starting-point-node-id=4069%3A2015">Figma prototype link</a>
          </li>
        </ul>

        <p>
          Whilst the team completed the research with users, others in the team <a href="https://local-plans-home-prototype-16fa4c7a1e60.herokuapp.com/government/collections/create-or-update-a-local-plan">developed a version using the GOV.UK prototype kit</a> and a local instance of Whitehall publisher.
        </p>

      </div>
    </div>
  </main>
</div>


{% endblock %}
