{% extends "layouts/main.html" %} {% set pageName="Create or update a local plan
- Collection" %} {% block content %}

<script src="/public/javascripts/contents-sticky.js"></script>
<link rel="stylesheet" href="/public/css/contents.css" />

<div class="govuk-grid-row draft">
  <div class="govuk-grid-column-full">
    <div
      id="body"
      class="gem-c-layout-for-public govuk-template__body js-enabled"
    >
      <div id="wrapper" class="direction-ltr govuk-width-container">
        <div class="gem-c-contextual-breadcrumbs">
          <div
            data-module="gem-track-click ga4-link-tracker"
            class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a
                class="govuk-breadcrumbs__link"
                  href="#"
                  >Home</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="2"
                  data-track-label="/housing-local-and-community"
                  data-track-options='{"dimension28":"4","dimension29":"Housing, local and community"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"2","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Housing, local and community</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  data-track-category="breadcrumbClicked"
                  data-track-action="3"
                  data-track-label="/housing-local-and-community/planning-and-building"
                  data-track-options='{"dimension28":"4","dimension29":"Planning and building"}'
                  data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index_link":"3","index_total":"4"}'
                  class="govuk-breadcrumbs__link"
                  href="#"
                  >Planning and building</a
                >
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a
                  class="govuk-breadcrumbs__link"
                  href="#">
                  Local plans
                </a>
              </li>
            </ol>
          </div>
        </div>

        <main role="main" id="content" class="document-collection" lang="en">
          <span id="Top"></span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8"
              >
                <span class="govuk-caption-xl gem-c-title__context">
                  Collection
                </span>

                <h1 class="gem-c-title__text govuk-heading-l">
                  Create or update a local plan
                </h1>
              </div>
            </div>

            <div class="govuk-grid-column-two-thirds">
              <p class="gem-c-lead-paragraph">
                Information and resources for local planning authorities on creating a local plan.
              </p>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="metadata-logo-wrapper">
              <div class="govuk-grid-column-two-thirds metadata-column">
                <div
                  class="gem-c-metadata"
                  data-module="gem-toggle metadata"
                  data-gem-toggle-module-started="true"
                  data-metadata-module-started="true"
                >
                  <dl
                    class="gem-c-metadata__list"
                    data-module="gem-track-click"
                    data-gem-track-click-module-started="true"
                  >
                    <dt class="gem-c-metadata__term">From:</dt>
                    <dd class="gem-c-metadata__definition">
                      <a
                        class="govuk-link"
                        href="#"
                        >Ministry of Housing,
                          Communities &
                          Local Government
                      </a>
                    </dd>
                    <dt class="gem-c-metadata__term">Published</dt>
                    <dd class="gem-c-metadata__definition">18 December 2023</dd>
                    <dt class="gem-c-metadata__term">Last updated</dt>
                    <dd class="gem-c-metadata__definition">20 December 2024</dd>
                  </dl>
                </div>
              </div>
              <div class="govuk-grid-column-one-third"></div>
            </div>
          </div>

          <div
            data-module="gem-track-click ga4-link-tracker"
            class="govuk-!-display-none-print govuk-!-margin-bottom-6"
            data-gem-track-click-module-started="true"
            data-ga4-link-tracker-module-started="true"
          >
            <form
              class="gem-c-single-page-notification-button"
              action=""
              method="POST"
              data-track-label="/government/collections/create-or-update-a-local-plan"
              data-track-action="Subscribe-button-top"
              data-track-category="Single-page-notification-button"
              data-button-location="top"
              data-button-text-subscribe="Get emails about this page"
              data-button-text-unsubscribe="Stop getting emails about this page"
            >
              <input
                type="hidden"
                name="base_path"
                value="/government/collections/create-or-update-a-local-plan"
              />
              <input
                type="hidden"
                name="single_page_subscription"
                value="true"
              />
              <input
                type="hidden"
                name="link"
                value="/government/collections/create-or-update-a-local-plan"
              />
              <button
                class="govuk-body-s gem-c-single-page-notification-button__submit"
                type="submit"
                data-ga4-link='{"event_name":"navigation","type":"subscribe","index_link":1,"index_total":2,"section":"Top","url":"/email-signup"}'
              >
                <svg
                  class="gem-c-single-page-notification-button__icon"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  height="18"
                  width="18"
                  viewBox="0 0 459.334 459.334"
                >
                  <path
                    fill="currentColor"
                    d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"
                  ></path>
                </svg>
                <span class="gem-c-single-page-notication-button__text"
                  >Get emails about this page
                </span>
              </button>
            </form>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div
                id="contents"
                class="app-c-contents-list-with-body"
                data-module="sticky-element-container"
                data-sticky-element-container-module-started="true"
              >
                <div class="responsive-bottom-margin">
                  <nav
                    data-module="gem-track-click ga4-link-tracker"
                    aria-label="Contents"
                    class="gem-c-contents-list"
                    role="navigation"
                    data-gem-track-click-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                  <h2 class="gem-c-contents-list__title">Contents</h2>
                  <ol class="gem-c-contents-list__list">
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <span aria-hidden="true"></span>
                      <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#about-this-collection">About this collection</a>
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <span aria-hidden="true"></span>
                      <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#policy-framework">National planning policy framework</a>
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <span aria-hidden="true"></span>
                      <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#planning-practice-guidance">Planning practice guidance on plan-making</a>
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <span aria-hidden="true"></span>
                      <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#how-to-create-or-update-your-local-plan">How to create or update your local plan</a>
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <span aria-hidden="true"></span>
                      <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#plan-examinations">Plan examinations</a>
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <span aria-hidden="true"></span>
                      <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#future-policy-direction">Future policy direction</a>
                    </li>
                  </ol>
                  </nav>
                </div>

                <div class="govuk-govspeak">
                  <h3 class="govuk-heading-m govuk-!-font-size-27" id="about-this-collection">
                  About this collection 
                  </h3>

                <p>
                  This collection gathers together resources for local planning authorities (LPAs) to use when creating a local plan.
                </p>

                <p>
                  These resources reflect the current planning policy framework for local plans. They do not currently cover the end-to-end process of creating a plan.
                </p>

                <div
                  class="gem-c-govspeak govuk-govspeak direction-ltr"
                >

                <div class="call-to-action">

                  <h3>Upcoming changes to local plans</h3>

                  <p>
                    We intend to implement the new plan-making system as set out in the Levelling-up and Regeneration Act from summer or autumn 2025.  
                  </p>

                  <p>
                    We’ll publish more information here about the new system as it’s available. We’ll also be adding more practical resources to help you at all stages of the plan-making process. 
                  </p>

                  <p>
                    This page is a first step towards a new home for local plans information for LPAs that will cover the end-to-end plan-making process.
                  </p>

                  <p>
                    Select ‘Get emails about this page’ above to be notified when we add new pages.
                  </p>
                </div>
                </div>

                <div>
                  <h3>Other resources to use alongside this collection </h3>

                  <p>
                    Use the <a href="https://www.planning.data.gov.uk/">planning data platform</a> for information about working with data while creating your plan. 
                  </p>

                  <p>
                    Read <a href="https://www.localdigital.gov.uk/digital-planning/case-studies/">case studies</a> on how local planning authorities have used digital technology for various aspects of plan-making. 
                  </p>

                  <p>
                    Get support with local plans from the <a href="https://www.local.gov.uk/pas/welcome-plan-making-support">Planning Advisory Service</a>.
                  </p>
                </div>

                <div class="responsive-bottom-margin">
                  <div class="govuk-!-margin-bottom-8">
                    <div
                      class="gem-c-govspeak govuk-govspeak direction-ltr"
                      data-module="govspeak ga4-link-tracker"
                      data-ga4-track-links-only=""
                      data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                      data-ga4-link='{"event_name":"navigation","type":"callout"}'
                      data-govspeak-module-started="true"
                      data-ga4-link-tracker-module-started="true"
                    >
                      <div class="govspeak"></div>
                    </div>
                  </div>

                  <h3
                    class="govuk-heading-m govuk-!-font-size-27"
                    id="policy-framework"
                  >
                  National planning policy framework
                  </h3>

                  <div
                    class="gem-c-govspeak govuk-govspeak direction-ltr"
                    data-module="govspeak ga4-link-tracker"
                    data-ga4-track-links-only=""
                    data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                    data-ga4-link='{"event_name":"navigation","type":"callout"}'
                    data-govspeak-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <div class="govspeak">
                      <p>
                        The policy framework for plan-making.
                      </p>
                    </div>
                  </div>
                  <div
                    data-module="gem-track-click"
                    class="govuk-!-margin-bottom-8"
                    data-gem-track-click-module-started="true"
                  >
                    <ul
                      class="gem-c-document-list govuk-!-margin-bottom-5"
                      data-module="ga4-link-tracker"
                      data-ga4-track-links-only=""
                      data-ga4-link='{"event_name":"navigation","type":"document list"}'
                      data-ga4-link-tracker-module-started="true"
                    >
                      <li class="gem-c-document-list__item">
                        <div class="gem-c-document-list__item-title">
                          <a
                            data-track-category="navDocumentCollectionLinkClicked"
                            data-track-action="1.1"
                            data-track-options='{"dimension28":"7","dimension29":"Search"}'
                            class="govuk-link"
                            href="https://www.gov.uk/government/publications/national-planning-policy-framework--2"
                            >National Planning Policy Framework</a
                          >
                        </div>

                        <ul class="gem-c-document-list__item-metadata">
                          <li class="gem-c-document-list__attribute">
                            <time datetime="2024-03-30T14:39:42+00:00">
                              20 December 2023
                            </time>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>

                  <h3
                    class="govuk-heading-m govuk-!-font-size-27"
                    id="planning-practice-guidance"
                  >
                  Planning practice guidance on plan-making
                  </h3>

                  <div
                    class="gem-c-govspeak govuk-govspeak direction-ltr"
                    data-module="govspeak ga4-link-tracker"
                    data-ga4-track-links-only=""
                    data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                    data-ga4-link='{"event_name":"navigation","type":"callout"}'
                    data-govspeak-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <div class="govspeak">
                      <p>
                        The ‘plan-making’ page of the <a href="https://www.gov.uk/government/collections/planning-practice-guidance">planning practice guidance</a> covers key aspects of plan-making, including the role of plans, co-operating with other bodies, and evidence bases.
                      </p>
                    </div>
                  </div>
                  <div
                    data-module="gem-track-click"
                    class="govuk-!-margin-bottom-8"
                    data-gem-track-click-module-started="true"
                  >
                    <ul
                      class="gem-c-document-list govuk-!-margin-bottom-5"
                      data-module="ga4-link-tracker"
                      data-ga4-track-links-only=""
                      data-ga4-link='{"event_name":"navigation","type":"document list"}'
                      data-ga4-link-tracker-module-started="true"
                    >
                      <li class="gem-c-document-list__item"></li>
                        <div class="gem-c-document-list__item-title">
                          <a
                            data-track-category="navDocumentCollectionLinkClicked"
                            data-track-action="1.1"
                            data-track-options='{"dimension28":"7","dimension29":"Search"}'
                            class="govuk-link"
                            href="https://www.gov.uk/guidance/plan-making"
                            >Plan-making</a
                          >
                        </div>

                        <ul class="gem-c-document-list__item-metadata">
                          <li class="gem-c-document-list__attribute">
                            <time datetime="2024-03-30T14:39:42+00:00">
                              14 February 2024
                            </time>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>



                  <h3
                    class="govuk-heading-m govuk-!-font-size-27"
                    id="how-to-create-or-update-your-local-plan"
                  >
                  How to create or update your local plan
                  </h3>

                  <div
                    class="gem-c-govspeak govuk-govspeak direction-ltr"
                    data-module="govspeak ga4-link-tracker"
                    data-ga4-track-links-only=""
                    data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                    data-ga4-link='{"event_name":"navigation","type":"callout"}'
                    data-govspeak-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <div class="govspeak">
                      <p>
                        Guidance, resources and tools for creating or updating your local plan
                      </p>
                    </div>
                  </div>
                  <div
                    data-module="gem-track-click"
                    class="govuk-!-margin-bottom-8"
                    data-gem-track-click-module-started="true"
                  >
                    <ul
                      class="gem-c-document-list govuk-!-margin-bottom-5"
                      data-module="ga4-link-tracker"
                      data-ga4-track-links-only=""
                      data-ga4-link='{"event_name":"navigation","type":"document list"}'
                      data-ga4-link-tracker-module-started="true"
                    >
                      <li class="gem-c-document-list__item">
                        <div class="gem-c-document-list__item-title">
                          <a
                            data-track-category="navDocumentCollectionLinkClicked"
                            data-track-action="2.1"
                            data-track-options='{"dimension28":"1","dimension29":"Search"}'
                            class="govuk-link"
                            href="https://www.gov.uk/guidance/transport-evidence-bases-in-plan-making-and-decision-taking"
                            >Transport evidence bases in plan-making and decision taking</a
                          >
                        </div>

                        <ul class="gem-c-document-list__item-metadata">
                          <li class="gem-c-document-list__attribute">
                            <time datetime="2024-03-30T14:39:42+00:00">
                              13 March 2015
                            </time>
                          </li>
                        </ul>
                      </li>
                      <li class="gem-c-document-list__item">
                        <div class="gem-c-document-list__item-title">
                          <a
                            data-track-category="navDocumentCollectionLinkClicked"
                            data-track-action="2.1"
                            data-track-options='{"dimension28":"1","dimension29":"Search"}'
                            class="govuk-link"
                            href="sow-32/visualisations-v2/visual-standards-for-policies-maps"
                            >How to present your policies map</a
                          >
                        </div>

                        <ul class="gem-c-document-list__item-metadata">
                          <li class="gem-c-document-list__attribute">
                            <time datetime="2024-03-30T14:39:42+00:00">
                              30 November 2024
                            </time>
                          </li>
                        </ul>
                      </li>
                      <li class="gem-c-document-list__item">
                        <div class="gem-c-document-list__item-title">
                          <a
                            data-track-category="navDocumentCollectionLinkClicked"
                            data-track-action="2.1"
                            data-track-options='{"dimension28":"1","dimension29":"Search"}'
                            class="govuk-link"
                            href="sow-32/reps-365-v2/introduction"
                            >Learn about local plan consultation response email automation</a
                          >
                        </div>

                        <ul class="gem-c-document-list__item-metadata">
                          <li class="gem-c-document-list__attribute">
                            <time datetime="2024-03-30T14:39:42+00:00">
                              30 November 2024
                            </time>
                          </li>
                        </ul>
                      </li>
                      <li class="gem-c-document-list__item"></li>
                        <div class="gem-c-document-list__item-title">
                          <a
                            data-track-category="navDocumentCollectionLinkClicked"
                            data-track-action="2.1"
                            data-track-options='{"dimension28":"1","dimension29":"Search"}'
                            class="govuk-link"
                            href="https://www.gov.uk/guidance/considerations-for-the-local-planning-authority"
                            >Fixed and mobile networks: guidance for local planning authorities</a
                          >
                        </div>

                        <ul class="gem-c-document-list__item-metadata">
                          <li class="gem-c-document-list__attribute">
                            <time datetime="2024-03-30T14:39:42+00:00">
                              20 December 2018
                            </time>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  
                  <h3
                    class="govuk-heading-m govuk-!-font-size-27"
                    id="plan-examinations"
                  >
                    Plan examinations
                  </h3>

                  <div
                    class="gem-c-govspeak govuk-govspeak direction-ltr"
                    data-module="govspeak ga4-link-tracker"
                    data-ga4-track-links-only=""
                    data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                    data-ga4-link='{"event_name":"navigation","type":"callout"}'
                    data-govspeak-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <div class="govspeak">
                      <p>
                        Information about preparing for and submitting your plan for examination.
                      </p>
                    </div>
                  </div>
                  <div
                    data-module="gem-track-click"
                    class="govuk-!-margin-bottom-8"
                    data-gem-track-click-module-started="true"
                  >
                    <ul
                      class="gem-c-document-list govuk-!-margin-bottom-5"
                      data-module="ga4-link-tracker"
                      data-ga4-track-links-only=""
                      data-ga4-link='{"event_name":"navigation","type":"document list"}'
                      data-ga4-link-tracker-module-started="true"
                    >
                      <li class="gem-c-document-list__item">
                        <div class="gem-c-document-list__item-title">
                          <a
                            data-track-category="navDocumentCollectionLinkClicked"
                            data-track-action="3.2"
                            data-track-options='{"dimension28":"6","dimension29":"Search"}'
                            class="govuk-link"
                            href="https://www.gov.uk/guidance/local-plans"
                            >
                            Local Plans: the examination process
                            </a
                          >
                        </div>

                        <ul class="gem-c-document-list__item-metadata">
                          <li class="gem-c-document-list__attribute">
                            <time datetime="2024-03-30T14:39:42+00:00">
                              30 March 2024
                            </time>
                          </li>
                        </ul>
                      </li>
                      <li class="gem-c-document-list__item">
                        <div class="gem-c-document-list__item-title">
                          <a
                            data-track-category="navDocumentCollectionLinkClicked"
                            data-track-action="3.2"
                            data-track-options='{"dimension28":"6","dimension29":"Search"}'
                            class="govuk-link"
                            href="https://www.gov.uk/government/publications/examining-local-plans-procedural-practice"
                            >
                            Procedure Guide for Local Plan Examinations
                            </a
                          >
                        </div>

                        <ul class="gem-c-document-list__item-metadata">
                          <li class="gem-c-document-list__attribute">
                            <time datetime="2024-03-30T14:39:42+00:00">
                              28 August 2024
                            </time>
                          </li>
                        </ul>
                      </li>
                      <li class="gem-c-document-list__item"></li>
                        <div class="gem-c-document-list__item-title">
                          <a
                            data-track-category="navDocumentCollectionLinkClicked"
                            data-track-action="3.2"
                            data-track-options='{"dimension28":"6","dimension29":"Search"}'
                            class="govuk-link"
                            href="https://www.gov.uk/guidance/local-plan-examination-webpages-advice-for-local-planning-authorities"
                            >
                            Local Plan Examination webpages - Advice for Local Planning Authorities
                            </a
                          >
                        </div>

                        <ul class="gem-c-document-list__item-metadata">
                          <li class="gem-c-document-list__attribute">
                            <time datetime="2024-03-30T14:39:42+00:00">
                              30 March 2024
                            </time>
                          </li>
                        </ul>
                      </li>
                      <li class="gem-c-document-list__item"></li>
                        <div class="gem-c-document-list__item-title">
                          <a
                            data-track-category="navDocumentCollectionLinkClicked"
                            data-track-action="3.2"
                            data-track-options='{"dimension28":"6","dimension29":"Search"}'
                            class="govuk-link"
                            href="https://www.gov.uk/government/publications/guidance-for-programme-officers-local-plan-examinations"
                            >
                            Guidance for Programme Officers: Local Plan Examinations
                            </a
                          >
                        </div>

                        <ul class="gem-c-document-list__item-metadata">
                          <li class="gem-c-document-list__attribute">
                            <time datetime="2024-03-30T14:39:42+00:00">
                              16 July 2024
                            </time>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>

                  <h3
                    class="govuk-heading-m govuk-!-font-size-27"
                    id="future-policy-direction"
                  >
                  Future policy direction
                  </h3>

                  <div
                    class="gem-c-govspeak govuk-govspeak direction-ltr"
                    data-module="govspeak ga4-link-tracker"
                    data-ga4-track-links-only=""
                    data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory"
                    data-ga4-link='{"event_name":"navigation","type":"callout"}'
                    data-govspeak-module-started="true"
                    data-ga4-link-tracker-module-started="true"
                  >
                    <div class="govspeak">
                      <p>
                        This section includes best practice for the site selection process. In the future policy system, it will replace the ‘Housing and economic land availability assessments’ guidance. If you have not started site assessment, you can choose to follow it if you wish.
                      </p>
                    </div>
                  </div>
                  <div
                    data-module="gem-track-click"
                    class="govuk-!-margin-bottom-8"
                    data-gem-track-click-module-started="true"
                  >
                    <ul
                      class="gem-c-document-list govuk-!-margin-bottom-5"
                      data-module="ga4-link-tracker"
                      data-ga4-track-links-only=""
                      data-ga4-link='{"event_name":"navigation","type":"document list"}'
                      data-ga4-link-tracker-module-started="true"
                    >
                    <li class="gem-c-document-list__item">
                      <div class="gem-c-document-list__item-title">
                        <a
                          data-track-category="navDocumentCollectionLinkClicked"
                          data-track-action="2.1"
                          data-track-options='{"dimension28":"1","dimension29":"Search"}'
                          class="govuk-link"
                          href="sow-32/sites-v3/introduction"
                          >Selecting sites for development for your local plan</a
                        >
                      </div>

                      <ul class="gem-c-document-list__item-metadata">
                        <li class="gem-c-document-list__attribute">
                          <time datetime="2024-03-30T14:39:42+00:00">
                            30 November 2024
                          </time>
                        </li>
                      </ul>
                      </li>
                    </ul>
                  </div>
                <div
                  data-sticky-element=""
                  class="app-c-contents-list-with-body__link-wrapper sticky-element--hidden sticky-element--stuck-to-window sticky-element--enabled"
                >
                  <div class="app-c-contents-list-with-body__link-container">
                    <a
                      class="govuk-link app-c-back-to-top dont-print"
                      href="#contents"
                    >
                      <svg
                        class="app-c-back-to-top__icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="17"
                        viewBox="0 0 13 17"
                        aria-hidden="true"
                        focusable="false"
                      >
                        <path
                          fill="currentColor"
                          d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"
                        ></path>
                      </svg>
                      Contents
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <div
            class="app-c-published-dates govuk-!-margin-bottom-5"
            lang="en"
          >
            Published 20 November 2024
          </div>

            <div class="govuk-grid-column-one-third">
              <div class="gem-c-contextual-sidebar"></div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="gem-c-contextual-footer"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

{% endblock %}
